<!DOCTYPE html>
    <html lang="zh-CN">
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=9">
                <title>${title!''}</title>
                <meta name="Keywords" content="${keywords!''}" /> 
                <meta name="Description" content="${description!''}" />
                <link rel="shortcut icon" type="image/x-icon"  href="${resImg}/design/main/favicon.ico"/>
                <link rel="stylesheet" href="${resStyle}/cmsbuild/blue/public.css" type="text/css">
                <link rel="stylesheet" href="${resStyle}/cmsbuild/blue/sub.css" type="text/css">
                <link rel="stylesheet" href="${resStyle}/../main/pager.css" type="text/css">
                <!-- a-->
                <script language="javascript" type="text/javascript" src="${resScriptPubl}/common.js"></script>
                <script language="javascript" type="text/javascript" src="${resScriptPubl}/list.js"></script>
            </head>
            <body>