<!doctype html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>${title!''}</title>
<meta name="Keywords" content="${keywords!''}" /> 
<meta name="Description" content="${description!''}" />
<link rel="stylesheet" href="${resStyle}/webbuild/gcyy/guicheng-green/base.css" type="text/css" media="screen" />
<link rel="stylesheet" href="${resStyle}/webbuild/gcyy/guicheng-green/sub.css" type="text/css" media="screen" />
<link rel="shortcut icon" type="image/x-icon"  href="http://佛山市南海区桂城医院.com/favicon.ico"/>
<script type="text/javascript" src="${resScriptPubl}/jquery-1.4.2.min.js"></script>
<script language="javascript" type="text/javascript" src="${resScriptPubl}/common.js"></script>
<script language="javascript" type="text/javascript" src="${resScriptPubl}/list.js"></script>
</head>
<body>
<!--#macro-->
<#import '../freemakerInclude/global.html' as global/>
<#--macro5开始-->
<#macro macro5 mapKey headClass bodyClass>
	<#if dataMap[mapKey]??>
    	<#local data=dataMap[mapKey]/>
    	 <div class="${headClass}">
            <h3 class="tit">${data.channelName!''}</h3>
            <a class="more" href="${data.path!'#'}">&gt;&gt; 更多</a>
        </div>
        <div class="${bodyClass}">
        	<#if data.contentList??>
        		<@global.showList3 ulClass='list03b' liClass='' data=data.contentList;item>
        			<div class="txt"><a href="${item.path!'#'}">${item.title!''}</a></div><span class="date">
        			<@global.showTime time=item.time!''/></span>
        		</@global.showList3>
        	</#if>
        </div>
    </#if>
</#macro>
<!--#macro-->
<!--#include virtual="${headUrl}"--> 
<!--#include virtual="${navUrl}"-->
<!--头部结束 内容开始 -->
<div class="section">
    <div class="main_con">
        <div class="breadcrumbs">
            <span class="tit">位置：</span>
    		<span id="pathUrl">
                <script type="text/javascript">
                    getPageLevelHtml('pathUrl','${pathUrl}','>>',false);
                </script>
            </span>
        </div>
        <div class="mod_con article">
            <div class="article_hd">
                <h1>${(info.title)!''}</h1>
                <div class="tagInfo">
                    <span class="i">编辑：${(info.author)!''}</span>
                    <span class="i newsource">来源：${(info.sourceName)!''}</span>
                    <span class="i">时间：${(info.publishTime?string('yyyy-MM-dd'))!''}</span>
                </div>
            </div>
            <div class="line"></div>
            <div class="article_bd">
            	${(info.content)!''}
            	<div id="friendDiv" class="article_ft">
					<script type="text/javascript">
						getFriendHtml('friendDiv','${tableUrl}','${contentId}');
					</script>
				</div>        
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="aside">
           <!--#--><!--#1--><#--公开栏-->
           <@macro5 mapKey='1' headClass='mod_hd mod_hd01' bodyClass='mod_hd mod_bd01'></@macro5>
           <!--#-->
        </div>
        <div class="gutter"></div>
        <div class="aside">
           <!--#--><!--#2--><#--人员招聘-->
           <@macro5 mapKey='2' headClass='mod_hd mod_hd03' bodyClass='mod_hd mod_bd03'></@macro5>
        	<!--#-->
        </div>
        <div class="gutter"></div>
        <div class="aside">
        	<!--#--><!--#3--><#--招标信息-->
            <@macro5 mapKey='3' headClass='mod_hd mod_hd03' bodyClass='mod_bd mod_bd03'></@macro5>
        	<!--#-->
        </div>
    </div>
</div>
<!--友情链接-->
<#include "../freemakerInclude/friend_link.html"/>
<div class="footer">
   <!--#include virtual="${footUrl}"--> 
</div>
<script src="${resScript}/base.js"></script>
</body>
</html>