<#include "../includes/content_header.html"/>
<#--头部begin--><!--#include virtual="${headUrl}"--><#--头部end-->
<#--导航begin--><!--#include virtual="${navUrl}"--><#--导航end-->
<input id="siteId" value="${siteId}" type="hidden"/>
<script type="text/javascript">  
function getPageLeveAjax(id,url,getLast){
    if(null==getLast) getLast=true; 
    url+="&getLast="+getLast; 
    getJson(url,function(data){
        var leve="";
        if(!blank(data.data)){
            for(var i=0;i<data.data.length;i++){
                if(i<(data.data.length-1))
                  leve+='<a href="'+data.data[i].path+'">'+data.data[i].channelName+"</a>>>";
                else
                  leve+='<span class="cur">'+data.data[i].channelName+'</span>';
            }
        }
        G(id).innerHTML=leve;
    });
}

function getListAjax(id,url){
    getJson(url,function(data){
        var m=data.m,list="";
        if(!blank(m)){
            list+='<ul class="list02_dot">';
            for(var i=0;i<m.length;i++){
                list+='<li><a href="'+m[i].path+'">'+m[i].title+'</a><span class="date">['+m[i].createTime+']</span></li>';
            }
            list+='</ul>';
        }
        G(id).innerHTML=list+listPage(data.page);
    });
}

function listPage(page){
    var pageHtml="";
    if(!blank(page)){
            pageHtml+='<ul class="pagination clearfix">';
            pageHtml+='<input id="currentPage" name="pagination.pageNo" type="hidden" value="'+page.pageNo+'"/>';
            pageHtml+='<input id="lastPage" type="hidden" value="'+page.pageCount+'"/>';
            if(page.pageNo>1){
                pageHtml+='<li class="page_jump"><a onclick="toPageAjax(1)">&lt;&lt;第一页</a></li>';
                pageHtml+='<li class="page_jump"><a onclick="toPageAjax('+(page.pageNo-1)+')">&lt;上一页</a></li>';
            }
            for(var i=(page.pageNo-page.offsetSize);i<page.pageNo;i++){
                if(i>page.pageCount)break;
                if(i<1)continue;
                pageHtml+='<li><a onclick="toPageAjax('+i+')">'+i+'</a></li>';
            }
            if(page.pageNo<=page.pageCount)
                pageHtml+='<li class="pages cur">'+page.pageNo+'</li>';
            for(var i=(page.pageNo+1);i<=page.pageNo+page.offsetSize;i++){
                if(i>page.pageCount)break;
                pageHtml+='<li><a onclick="toPageAjax('+i+')">'+i+'</a></li>';
            }
            if(page.pageNo<page.pageCount){
                pageHtml+='<li class="page_jump"><a onclick="toPageAjax('+(page.pageNo+1)+')">下一页&gt;</a></li>';
                pageHtml+='<li class="page_jump"><a onclick="toPageAjax('+page.pageCount+')">最尾页&gt;&gt;</a></li>';
            }
            pageHtml+='<li class="page">';
            pageHtml+='<input type="text" id="pageNo" class="ipage" title="请输入页码" ';
            pageHtml+='onkeydown="checkEnter(event,\'igo\')"  onkeyup="numberFormat(\'pageNo\',\'lastPage\')" ';
            pageHtml+='value="'+page.pageNo+'"/>';
            pageHtml+='<span class="page-count">&nbsp;/'+page.pageCount==0?1:page.pageCount+'</span></li>';
            pageHtml+='<li title="跳转页面" class="go">';
            pageHtml+='<a id="igo" class="igo" onclick="goAjax(\'pageNo\',\'currentPage\');">GO</a></li>';
            pageHtml+='</ul>';    
    }
    return pageHtml;
}
</script>
<#if dataMap['1'].imgContentList??>
<#if dataMap['1'].imgContentList[0]??>
<div id="banner">
    <img alt="" src="${dataMap['1'].imgContentList[0].imgPath}" width="960" height="210"/>
</div>
</#if>
</#if>

<div class="wrap clearfix">
  <!-- 列表开始 -->
  <div class="section_m ">
      <!--位置盒子begin-->
	  <div class="crumbs ui_crumbs"  style="width:700px">
	    <b>位置：</b>
	    <span id="pathUrl_info_list_div"></span>
	  </div>
	  <!--位置盒子end-->
      <div class="article ui_gray_2">
          <input type="hidden" id="tableUrl" value="${tableUrl}"/>
          <div class="article_bd article_list" id="list">
              <script type="text/javascript">
                   getListAjax("list",'${tableUrl}');
              </script>
          </div>
      </div>
      <div class="article_ft_ad"></div>
  </div>
  <!-- 列表结束 -->
  <!-- 详细页begin -->
  <#if subContentList??>
  <#if subContentList?size!=0>
  <#list 0..(subContentList?size-1) as i>
  <div class="section_m ">
    <!--位置盒子begin-->
    <div class="crumbs ui_crumbs"  style="width:700px;<#if i!=0> display:none;</#if>" id="${subContentList[i].contentId?string}">
        <b>位置：</b>
        <span id="pathUrl_${subContentList[i].contentId?string}">
            <script type="text/javascript" src="${resScriptPubl}/jquery-1.4.2.min.js"></script>
            <script type="text/javascript">
                getPageLevelHtml('pathUrl','${pathUrl}','>>',false);
            </script>
        </span>
    </div>
    <!--位置盒子end-->
    <div class="article ui_gray_3">
        <div class="article_hd">
            <h2>${(info.title)!''}</h2>
            <div class="article_meta">
                <b>编辑：${(info.author)!''}</b>
                <b class="article_date">时间：${(info.publishTime?string('yyyy-MM-dd'))!''}</b>
                <#if info.sourceName??>
                <b><a href="${(info.sourceUrl)!'#'}">来源：${(info.sourceName)!''}</a></b>
                </#if>
            </div>
        </div>
        <div class="article_bd"> ${(info.content)!''}</div>
    </div>
</div>
</#list>
</#if>
</#if>
  <!-- 详细页end-->
  <div class="sidebar">
    <#if subChannelList??>
    <#if subChannelList?size!=0>
    <div class="aside aside_nav">
        <ul id="accordion" class="aside_nav_bd">
            <!-- 左侧栏目 开始-->
            <#list 0..(subChannelList?size-1) as i>
            <#if ((subChannelList[i].type=='single'&&subChannelList[i].contentId??)||(subChannelList[i].type=='list'))>
            <li class="level0">
                <#if i==0>
                <#if subChannelList[0].type=='list'>
                  <script type="text/javascript">
                  setTimeout(function(){
                     showDivAjax("info_list_div","main_section",'${subChannelList[i].tableUrl}','${subChannelList[i].pathUrl}',true);
                  },300);
                  </script>
                <#elseif subChannelList[0].type=='single'>
                 <script type="text/javascript">
                  setTimeout(function(){
                     getPageLeveAjax('pathUrl_${subChannelList[0].contentId}','${subChannelList[i].pathUrl}',false);
                  },300);
                 </script>
                </#if> 
                </#if>
                <#if subChannelList[i].type=='single'>
                <span class="aside_nav_tit channel_title">
                    <#if subChannelList[i].type=='single'>
		            <a class="<#if i==0> selected</#if>" onclick="showDivAjax(${subChannelList[i].contentId?string},'main_section','','${subChannelList[i].pathUrl}',false);" target="_self">${subChannelList[i].channelName}</a>
		            </#if>
                    <#if subChannelList[i].type=='list'>
                         <a class="<#if i==0> selected</#if>" onclick="showDivAjax('info_list_div','main_section','${subChannelList[i].tableUrl}','${subChannelList[i].pathUrl}',true);" target="_self">${subChannelList[i].channelName}</a>
                    </#if>
                </span>
            </li>
            </#if>
            </#list>
            <!-- 左侧栏目 end-->
          </ul>
	      <b class="sub_nav_top"></b>
	      <b class="sub_nav_bottom"></b>
    </div>
    </#if>
    </#if>
    <div class="aside">
         <#if dataMap['2'].contentList??>
         <div class="mod_hd ui_hd_gray">
             <h3 class="mod_tit">
                 <a href="${dataMap['2'].path!'#'}">${dataMap['1'].channelName}</a>
             </h3>
         </div>
         </#if>
         <div class="mod_bd clearfix">
             <#if dataMap['2'].contentList??>
             <ul class="list06">
                 <#list 1..dataMap['2'].contentList?size as i>
                 <#if i lte 8>
                 <li>
                     <a href="${dataMap['2'].contentList['${i}'].path!'#'}">
                          ${dataMap['2'].contentList['${i}'].title!''}
                     </a>
                 </li>
                 </#if>
                 </#list>
             </ul>
             </#if>
             <#if dataMap['3'].imgContentList??>
             <#if dataMap['3'].imgContentList[0]??>
             <div class="address_tel_num">
                 <a class="address" href="${dataMap['3'].imgContentList[0].path!''}">
                     <img src="${dataMap['3'].imgContentList[0].imgPath!''}" width="80" height="100" />
                 </a>
                 <b class="tel_num">
                     ${dataMap['3'].imgContentList[0].imgPath!''}
                 </b>
             </div>
             </#if>
             </#if>
         </div>
     </div>
  </div>
</div>
<div class="ui_bottom_line960_2 "></div>
 <script type="text/javascript">
  $(".channel_title").click(function(){
	  $("#channel_title").html($(this).find("a").first().html());
  });
 </script>
<!--#include virtual="${footUrl}"-->
<#include "../includes/content_footer.html">
