<div class="aside feedback">
    <div class="aside_hd">
        <h3 class="ui_tit">医院留言板</h3>
        <input type="hidden" value="${siteId}" id="leave_site_id">
    </div>
    <div class="aside_bd">
        <div class="i">
            <span class="tit">主题：</span>
            <input class="ipt" type="text" value="" name="doctorName"/>
        </div>
        <div class="i">
            <span class="tit">内容：</span>
            <textarea class="txtarea"></textarea>
        </div>
        <div class="i">
            <input class="ips" type="submit" value="搜索"/>
        </div>
    </div>
</div>