${content!''}
<#if (content!'')=''>
<div class="wrap_header">
	<div class="header">
		<div class="wrap_bg" style="position: relative">
			<h1 style="position: absolute;top: 16px;left: 8px"><a href="#"><img src="${resImg}/logo.jpg" width="345" height="65"/>
				佛山市南海区桂城医院-国家一级甲等医院</a><span>仁爱博学,团结协作,务实创新,科学发展</span>
			</h1>
			<div class="flash1">
				<object id="FlashID1" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="980" height="190">
					<param name="movie" value="${resStyle}/webbuild/gcyy/swf/1a.swf">
					<param name="quality" value="high">
					<param name="wmode" value="opaque">
					<param name="swfversion" value="8.0.35.0">
					<param name="expressinstall" value="${resStyle}/webbuild/gcyy/expressInstall.swf">
					<!--[if !IE]>-->
					<object type="application/x-shockwave-flash" data="${resStyle}/webbuild/gcyy/swf/1a.swf" width="980" height="190">
						<!--<![endif]-->
						<param name="quality" value="high">
						<param name="wmode" value="opaque">
						<param name="swfversion" value="8.0.35.0">
						<param name="expressinstall" value="${resStyle}/webbuild/gcyy/expressInstall.swf">
						<div>
							<h4>此页面上的内容需要较新版本的 Adobe Flash Player。</h4>
							<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获取 Adobe Flash Player" width="112" height="33"></a></p>
						</div>
						<!--[if !IE]>-->
					</object>
					<!--<![endif]-->
				</object>
			</div>
		</div>
	</div>
</div>
</#if>