<ul class="treeview clearfix" id="treeview">
	<#if subChannelList??>
	   <#if subChannelList?size!=0>
        <#list 0..(subChannelList?size-1) as i>
           <#if ((subChannelList[i].type=='single'&&subChannelList[i].contentId??)||(subChannelList[i].type=='list'))>
        	<li class="lv0">
                <div class="hd cur_hd">
                    <b class="hitarea"></b>
                    <span class="tit">
                        <#if i==0>
                            <#if subChannelList[0].type=='list'>
                               <script type="text/javascript">
                                 setTimeout(function(){
                                 showDiv("info_list_div","w740",'${subChannelList[i].tableUrl}','${subChannelList[i].pathUrl}',true);
                                 },300);
                                 </script>
                               <#elseif subChannelList[0].type=='single'>
                                <script type="text/javascript">
                                 setTimeout(function(){
                                 getPageLevelHtml('pathUrl_${subChannelList[0].contentId}','${subChannelList[i].pathUrl}','>>',false);
                                 },300);
                              </script>
                            </#if>
                        </#if>
                        <#if subChannelList[i].type=='single'>
                             <a onclick="showHiddenDiv(${subChannelList[i].contentId?string},'w740','','${subChannelList[i].pathUrl}',false);" target="_self">${subChannelList[i].channelName}</a>
                        </#if>
                         <#if subChannelList[i].type=='list'>
                             <a onclick="showHiddenDiv('info_list_div','w740','${subChannelList[i].tableUrl}','${subChannelList[i].pathUrl}',true);" target="_self">${subChannelList[i].channelName}</a>
                        </#if>
                    </span>
                </div>
            </li>
            </#if>
        </#list>
     </#if>
    </#if>
</ul>
