<!--此处为被循环内容-->
    <!--列表界面-->
        <div class="w740" id="info_list_div" style="display:none">
            <div class="breadcrumbs">
                <span class="ico">您的位置：</span>
                <span id="pathUrl_info_list_div"></span>
            </div>
            <div class="mod_con expert_list" id="table"></div>
            <input type="hidden" id="tableUrl" value=""/>
    	</div> 
     <!--列表界面结束-->
     <!-- 内容界面-->
     <#if subContentList??>
        <#if subContentList?size!=0>
         <#list 0..(subContentList?size-1) as i>
              <div class="w740" id="${subContentList[i].contentId?string}" <#if i!=0> style="display:none" </#if>>
               <div class="breadcrumbs">
                    <span class="ico"> 您的位置:</span>
                    <span id="pathUrl_${subContentList[i].contentId?string}"></span>
                </div>
                <div class="mod_con expert">
                    <div class="article_hd">
                        <h1>${(subContentList[i].title)!''}</h1>
                        <div class="tagInfo">
                            <span class="i">编辑：${(subContentList[i].creater)!''}</span><span class="i">时间：${(subContentList[i].createTime)!''}</span>
                        </div>
                    <div class="article_bd">
                        ${(subContentList[i].content)!''}
                    </div>
                 </div>
               </div>
             </div>
        </#list>
      </#if>
     </#if>
    <!--内容界面结束-->
    <!--此处为被循环内容-->