<!--#macro-->
<#import '../global/global.html' as global/>

<#macro sideBar mapKey>
	<div class="mod_aside_hd">
		<#if dataMap[mapKey]??>
			<#local data=dataMap[mapKey]/>
			<h3 class="tit"><a href="${data.path!'#'}">${data.channelName!''}</a></h3>
			<a class="more" href="${data.path!'#'}">更多</a>
		</#if>
	</div>
	<div class="mod_aside_bd">
		<#if dataMap[mapKey]??>
			<#local data=dataMap[mapKey]/>
			<#if data.imgContentList??>	
				<#local item=data.imgContentList[0]/>				
				<div class="pt03">
					<a class="pic" href="${item.path}"><img width="100" height="80" alt="${item.title}" src="${item.imgPath}"></a>
					<h4 class="tit"><a href="${item.path}">${item.title}</a></h4>
					<p class="txt"><@global.showTitle title=item.detial titleNum=23 hasDot=true/></p>
				</div>
			</#if>
			<#if data.contentList??>
				<@global.showList ulClass='list01_lico' liClass='' data=data.contentList;path,imgPath,title,detial>
		            <a href="${path}" target="_blank">${title}</a>
		        </@global.showList>	
			</#if>
		</#if>
	</div>
</#macro>
<!--#macro-->
<!--#--><!--#1-->
<div class="hos_intro">
    <div class="hd2">${(dataMap["1"].channelName)!''}</div>
    <div class="bd">
    	<#if dataMap["1"]??>
        	<@global.showTitle title=(dataMap["1"].contentList[0].detial)!'' titleNum=90 hasDot=true></@global.showTitle>
        	<a href="${dataMap["1"].path!'#'}" class="more">[详细]</a>
        </#if>
    </div>
</div>
<!--#-->
<div class="aside">
	<!--#--><!--#2--><@sideBar mapKey="2"/><!--#-->
</div>
<div class="aside">
	<!--#--><!--#3--><@sideBar mapKey="3"/><!--#-->
</div>