]<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9">
		<title>${title!''}</title>
		<meta name="Keywords" content="${keywords!''}" /> 
		<meta name="Description" content="${description!''}" />
		<link rel="stylesheet" href="${resStyle}/public.css" type="text/css">
		<link rel="stylesheet" href="${resStyle}/global.css" type="text/css">
		<link rel="stylesheet" href="${resStyle}/news_list.css" type="text/css">
		<link rel="shortcut icon" type="image/x-icon" href="http://www.elian.cc/favicon.ico">
		<script language="javascript" type="text/javascript" src="${resScript}/common.js"></script>
		<script language="javascript" type="text/javascript" src="${resScript}/list.js"></script>
		<script src="${resScript}/base0530.js"></script>
	</head>
	<body>
		<!--#macro-->	
		<#macro showList dataList channelName="" path="#">
			<div class="mod_hd_aside clearfix">
				<h4 class="tit">${channelName}</h4>
				<span class="more">
					<a href="${path}" target="_blank">更多</a>
				</span>
			</div>
			<ul class="list_num_ico">
				<#if dataList?size != 0>
		       		<#list dataList as c>
						<li>
							<a href="${c.path}"  target="_blank">${c.title}</a>
						</li>
					</#list>
		  			</#if>
			</ul>
		</#macro>
		<!--#macro-->
		<!--#include virtual="${headUrl}"-->
		<!--#include virtual="${navUrl}"-->
		<div class="section">
			<div class="section_m_670">
				<div class="breadcrumbs">
					<div class="ui_topLine"></div>
					<div class="position">
						您的位置:
						<#if pathList?size != 0>
					        <#list pathList as p>
					        	<a <#if p_has_next!>href="${p.path}"</#if> target="_blank">${p.channelName}</a><#if p_has_next!> &gt;</#if>
					        </#list>
					    </#if>
					</div>
				</div>

				<div class="bd clearfix">
					<input type="hidden" id="tableUrl" value="${tableUrl}"/>
					<div id="table">
						<script type="text/javascript" src="${resScript}/jquery-1.4.2.min.js"></script>
						<script type="text/javascript">
							getTableHtml('table','${tableUrl}');
						</script>
					</div>

					<div style="clear: both;"></div>
				</div>
			</div>
			<div class="sidebar">
				<div class="sidebar">
					<!--#--><!--#1-->
					<div class="aside" id="tab2">
						<div class="hd clearfix" id="tab2_hd">
							<#if dataMap['1']??>
								<#list dataMap['1']?keys as prop>
									<#if prop_has_next>
										<h4 class="cur" onmouseover="overTab(2,1,'h4','ul')"
											onmouseout="outTab()">
											${dataMap['1'][prop].channelName}
										</h4>
										<#else>
										<h4 onmouseover="overTab(2,2,'h4','ul')" onmouseout="outTab()">
											${dataMap['1'][prop].channelName}
										</h4>
									</#if>
								</#list>
							</#if>
						</div>
						<div id="tab2_bd">
							<#if dataMap['1']??>
								<#list dataMap['1']?keys as prop>
									<#if prop_has_next>
										<ul class="list01_lico" style="display: block;">
											<#if dataMap['1'][prop].contentList?size != 0>
					       						<#list dataMap['1'][prop].contentList as c>
													<li>
														<a href="${c.path}" target="_blank">${c.title}</a>
													</li>
												</#list>
				   							</#if>
										</ul>
										<#else>
										<ul class="list01_lico">
											<#if dataMap['1'][prop].contentList?size != 0>
					       						<#list dataMap['1'][prop].contentList as c>
													<li>
														<a href="${c.path}" target="_blank">${c.title}</a>
													</li>
												</#list>
				   							</#if>
										</ul>
									</#if>
								</#list>
							</#if>
						</div>
					</div>	
					<!--#-->
					<div class="aside">
						<h3 class="tit_aside">
							<a>健康资讯</a>
						</h3>			
						<div class="aside_ui_bd">
							<!--#--><!--#2-->				
							<@showList dataList=dataMap['2'].contentList channelName=dataMap['2'].channelName path=dataMap['2'].path/>
							<!--#-->
							<!--#--><!--#3-->
							<@showList dataList=dataMap['3'].contentList channelName=dataMap['3'].channelName path=dataMap['3'].path/>
							<!--#-->		   		
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--#include virtual="${footUrl}"-->
		<script type="text/javascript" src="${resScript}/jquery.header.js"></script>
		<div class="hidden">
			<script type="text/javascript" src="${resScript}/baidu-flow.js"></script>
			<script type="text/javascript" src="${resScript}/google-flow.js"></script>
			<a href="http://www.cnzz.com/stat/website.php?web_id=3321260" target="_blank" title="站长统计">站长统计</a>
			<script type="text/javascript">
				var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
				document.write(unescape("%3Cscript src='"
							+ _bdhmProtocol
							+ "hm.baidu.com/h.js%3Ffcab8f29a9e279175c4fd1b3038becb3' type='text/javascript'%3E%3C/script%3E"));
			</script>
		</div>
	</body>
</html>