<script type="text/javascript" src="${resScript}/base.js"></script>
<script type="text/javascript" src="${resScript}/myfocus-1.2.4.full.js"></script>
<script type="text/javascript" src="${resScript}/mF_tb.js"></script>
<#--<script src="${resScript}/gd.js"></script>
<script src="${resScript}/tab.js"></script>
<script src="${resScript}/jquery-1.4.2.min.js"></script>
<script src="${resScript}/jquery.easyTreeView.js"></script>
<script>
myFocus.set({path:0,id:'index_Focus',pattern:'mF_tb',time:3,trigger:'mouseover',width:360,height:270,txtHeight:30,duration:350,direction:'left',easing:'easeOut',wrap:false});//宽度为图片容器实际宽度,主程序注释了自动添加皮肤，脚本。20110711
</script>
<script>
+function($){
    $('#treeview').easyTreeView({//可以传入多个id实例
        branchBtn:'collapsable-hitarea',//按钮的类 加减号;
        aniSpeed:200,//动画展开速度;
        last:'last'//最后一个菜单类,折线;
    })
}(jQuery)
</script>
-->