<#--内容公用头部-->
<!DOCTYPE html>
    <html lang="zh-CN" dir="ltr">
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=9">
                <title>${title!''}</title>
                <meta name="Keywords" content="${keywords!''}" /> 
                <meta name="Description" content="${description!''}" />
                <link rel="stylesheet" href="${resStyle}/hosp/webbuild/hqyy/style/public.css" type="text/css" media="screen" />
                <link rel="stylesheet" href="${resStyle}/hosp/webbuild/hqyy/style/article.css" type="text/css" media="screen" />
                <link rel="shortcut icon" type="image/x-icon"  href="${resStyle}/hosp/webbuild/hqyy/favicon.ico"/>
                <link rel="stylesheet" href="${resStyle}/../main/pager.css" type="text/css">
                <script src="${resScriptPubl}/jquery-1.4.2.min.js/jquery-1.4.2.min.js" ></script> 
                <script language="javascript" type="text/javascript" src="${resScriptPubl}/common.js"></script>
                <script language="javascript" type="text/javascript" src="${resScriptPubl}/list.js"></script>
                <script type="text/javascript" src="${resScriptPubl}/jquery.cookie.js" ></script>
                <script type="text/javascript" src="${resScriptPubl}/jquery.treeview.js"></script>
            </head>
            <body>
