<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>${title!''}</title>
        <meta name="Keywords" content="${keywords!''}" />
        <meta name="Description" content="${description!''}" />
        <link rel="stylesheet" href="${resStyle}/webbuild/hqyy/style/index.css" type="text/css" media="screen"/>
        <link rel="shortcut icon" type="image/x-icon" href="${resStyle}/webbuild/hqyy/favicon.ico" />
        <script src="${resScriptPubl}/jquery-1.4.2.min.js" type="text/javascript"></script>
        <script src="${resScript}/hosp/hqyy/jquery.KinSlideshow-1.1.js" type="text/javascript"></script>
        <script src="${resScript}/hosp/hqyy/slider.js" type="text/javascript"></script>
        <script src="${resScript}/hosp/hqyy/imgSlide.js" type="text/javascript"></script>
        <script src="${resScript}/hosp/hqyy/ad_drift.js" type="text/javascript"></script>
    </head>
    <body>