<!doctype html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>${title!''}</title>
<meta name="Keywords" content="${keywords!''}" /> 
<meta name="Description" content="${description!''}" />
<link rel="stylesheet" href="${resStyle}/webbuild/gcyy/guicheng-green/index.css" type="text/css" media="screen" />
<link rel="shortcut icon" type="image/x-icon"  href="http://佛山市南海区桂城医院.com/favicon.ico"/>
<script src="${resScript}/jquery-1.8.2.min.js"></script>
</head>
<body>
<!--#macro-->
<#import '../freemakerInclude/global.html' as global/>
<#--macro1开始-->
<#macro macro1 mapKey>
	<#if dataMap[mapKey]??>
		<#local data=dataMap[mapKey]/>
		<div class="tab2_hd" id="tab2_hd">
			<#if (data?size>0)>
				<#list 1..data?size as i>
					<h3 <#if 1==i>class="cur"</#if>><a href="${data['${i}'].path!'#'}">${data['${i}'].channelName!''}</a></h3>
				</#list>			
			</#if>
		</div>
		<div class="tab2_bd" id="tab2_bd">
			<#if (data?size>0)>
				<#list 1..data?size as i>
		            <div class="tab_con" <#if 1==i> style="display: block;"</#if>>
		                <div class="pt03">
		                    <a class="pic" href="${(data['${i}'].contentList[0].path)!'#'}"><img width="115" height="88" src="${(data['${i}'].contentList[0].imgPath)!'#'}" 
		                    	alt="${(data['${i}'].contentList[0].title)!''}"/></a>
		                    <p class="txt">
		                    	<@global.showTitle title=(data['${i}'].contentList[0].detial)!'' titleNum=40></@global.showTitle>
		                    </p>
		                </div>
		            </div>
				</#list>
			</#if>
        </div>		
	</#if>
</#macro>
<#--macro2开始-->
<#macro macro2 mapKey>
    <#if dataMap[mapKey]??>
    	<#local data=dataMap[mapKey]/>
		<div class="ui_hd">
	        <h3>${data.channelName!''}</h3>
	    </div>
	    <div class="pt03 hot_news">
	    	<#if data.imgContentList??>
		    	<#list data.imgContentList as item>
			        <h2 class="tit"><a href="${item.path!'#'}">${item.title!'#'}</a></h2>
			        <a class="pic" href="${item.path!'#'}"><img src="${item.imgPath!''}" width="90" height="68"/></a>
			        <p class="txt"><@global.showTitle title=item.detial!'' titleNum=90></@global.showTitle></p>
		    	</#list>
	    	</#if>
            <div class="dot_line"></div>
        </div>
	</#if>
</#macro>
<#--macro3开始-->
<#macro macro3 mapKey>
 	<#if dataMap[mapKey]??>
    	<#local localData=dataMap[mapKey]/>
		<div class="guide_line_hd">就医指南</div>
		<#if (localData?size>0)>
			<ul class='guide_line_bd'>
				<#list 1..localData?size as i>
					<li>
						<b class="ico ico0${i}"></b>
						<a href="${localData['${i}'].path!'#'}">${localData['${i}'].channelName!''}</a>
					</li>
				</#list>
			</ul>
		</#if>
    </#if>
</#macro>
<#--macro4开始-->
<#macro macro4 mapKey>
	<#if dataMap[mapKey]??>
    	<#local data=dataMap[mapKey]/>
    	<div class="tab1_hd" id="tab1_hd">
    		<#if (data?size>0)>
    			<#list 1..data?size as i>
    				<h3 <#if i==1> class="cur" </#if> ><a href="${data['${i}'].path!'#'}">${data['${i}'].channelName!''}</a></h3>
    			</#list>
    		</#if>
        </div>
        <div class="tab1_bd" id="tab1_bd">
        	<#if (data?size>0)>
        		<#list 1..data?size as i>
		            <div class="tab_con" <#if i==1>style="display: block;" </#if>>
		            	<#if data['${i}'].imgContentList??>
		            		<#list data['${i}'].imgContentList as item>
		            			<a class="list_pic" href="${item.path!'#'}"><img width="100px" height="135px" src="${item.imgPath!''}"/></a>
		            		</#list>
		            		<#else>
		            		<a class="list_pic"><img width="100px" height="135px" src="${resStyle}/webbuild/gcyy/guicheng-green/no_pic120x90.jpg"/></a>
		            	</#if>
		            	<#if data['${i}'].contentList??>
		            		<ul class="list03b">
				            	<#list data['${i}'].contentList as item>
				            		<li>
				            			<div class="txt"><a href="${item.path!'#'}">${item.title!''}</a></div><span class="date">
		            					<@global.showTime time=item.time!''/></span>
				            		</li>
				            	</#list>
		                    </ul>
		            	</#if>
		            </div>
    			</#list>
        	</#if>
        </div>
    </#if>
</#macro>
<#--macro5开始-->
<#macro macro5 mapKey headClass bodyClass>
	<#if dataMap[mapKey]??>
    	<#local data=dataMap[mapKey]/>
    	 <div class="${headClass}">
            <h3 class="tit">${data.channelName!''}</h3>
            <a class="more" href="${data.path!'#'}">&gt;&gt; 更多</a>
        </div>
        <div class="${bodyClass}">
        	<#if data.contentList??>
        		<@global.showList3 ulClass='list03b' liClass='' data=data.contentList;item>
        			<div class="txt"><a href="${item.path!'#'}">${item.title!''}</a></div><span class="date">
        			<@global.showTime time=item.time!''/></span>
        		</@global.showList3>
        	</#if>
        </div>
    </#if>
</#macro>
<#--macro6开始-->
<#macro macro6 mapKey>
	<#if (dataMap[mapKey].contentList)??>
    	<#local data=dataMap[mapKey].contentList/>
    	<div class="tab3_hd clearfix" id="tab3_hd">
	    	<#if (data?size>0)>
    			<#list 0..data?size-1 as i>
    				<h4 <#if i==0> class="cur" </#if> onmouseover="overTab(3,${i+1},'h4','div')" onmouseout="outTab()">
    					<a href="${data[i].path!'#'}">${data[i].title!''}</a>
    				</h4>
    			</#list>
    		</#if>
		</div>
		<div class="dot_line"></div>
		<div class="tab3_bd" id="tab3_bd">
			<#if (data?size>0)>
    			<#list 0..data?size-1 as i>
    				<div class="tab_con" <#if i==0> style="display: block;"</#if>>
    					<h5>${data[i].title!''}</h5>
    					<p class="txt"><@global.showTitle title=data[i].detial!'' titleNum=350></@global.showTitle><a class="more" href="${data[i].path!''}">【详细】</a></p>
    					<span class="section_pic">
    						<#if data[i].imgPath??>
    							<img src="${data[i].imgPath}!''}" width="250" height="190"/>
   							<#else>
    							<img src="${resImg}/design/hosp/webbuild/gcyy/img/depeart_250x190.jpg" width="250" height="190"/>
    						</#if>
    					</span>
    				</div>
    			</#list>
    		</#if>
		</div>
    </#if>
</#macro>
<#--macro7开始-->
<#macro macro7 mapKey>
	<#if dataMap[mapKey]??>
    	<#local data=dataMap[mapKey]/>
    	<div class="mod_hd mod_hd01">
            <h3><a href="${data.path!'#'}">${data.channelName!''}</a></h3>
            <a class="more" href="${data.path!'#'}">&gt;&gt;更多</a>
        </div>
        <div class="mod_bd mod_bd01 clearfix">
        	<ul id="hos_equipment" class="pt01">
	        	<#if data.imgContentList??>
	        		<#list data.imgContentList as item>
	        			<li>
		    				<a class="pic" href="${item.path!'#'}"><img width="135" height="100" src="${item.imgPath!'#'}" alt="${item.title!''}"/></a>
		                    <span class="txt"><a href="${item.path!'#'}">${item.title!''}</a></span>
	        			</li>
	        		</#list>
				</#if>
			</ul>
        </div>
    </#if>
</#macro>    
<#--macro8开始-->
<#macro macro8 mapKey>	
	<#if dataMap[mapKey]??>
    	<#local data=dataMap[mapKey]/>
    	<div class="mod_hd mod_hd01">
            <h3>${data.channelName!'专家介绍'}</h3>            
            <a class="more" href="<@global.getParentPath contentPath=(data['1'].imgContentList[0].path)!''/>">&gt;&gt;更多</a>
        </div>
        <div class="mod_bd clearfix">
			<span class="clearfix">
	            <div class="section_details">
	            	<div class="tab5_hd" id="tab5_hd">
	            		<#if (data?size>0)>
    						<#list 1..data?size as i>
	   							 <h4 <#if i==1> class="cur" </#if>>
	   							 	<a href="${data['${i}'].path!'#'}">${data['${i}'].channelName!''}</a>
	   							 </h4>
    						</#list>
    					</#if>			            
		            </div>
		            <div class="tab5_bd" id="tab5_bd">
		            	<#if (data?size>0)>
    						<#list 1..data?size as i>
    							<#local subData=data['${i}']/>
				            	<div class="tab_con" <#if i==1> id="tab_con"  style="display: block;z-index: 999" </#if>>
						            <ul class="pt01 iframe_intro_doc clearfix">
						            	<#if (subData.imgContentList?size>0)>
		    								<#list 0..subData.imgContentList?size-1 as j>
		    									<#local item=subData.imgContentList[j]/>
									            <li>
										            <div class="item-wrap">
											            <a class="pic" href="${item.path!'#'}">
											            	<img width="70" height="93" src="${item.imgPath!'#'}" alt="${item.title!''}"/></a>
											            <h5 class="tit">${item.title!''}</h5>
											            <span class="txt">${item.param3!'医生'}</span>
											            <span class="txt txt2">主治：${item.detial!''}</span>
											            <a href="${item.path!'#'}" class="link_btn">查看详情&gt;&gt;</a>
										            </div>
									            </li>
								            </#list>
		    							</#if>
						            </ul>
					            </div>
				        	</#list>
				        </#if>
		            </div>
	            </div>
	        </span>
	    </div>
    </#if>
</#macro>  
<#--macro9开始-->
<#macro macro9 mapKey>	
	<#if dataMap[mapKey]??>
    	<#local data=dataMap[mapKey]/>
    	<#if (data?size>0)>
    		<#list 1..data?size as i>
    			<#if data['${i}'].contentList[0]??>
    				<a href="${data['${i}'].contentList[0].path!'#'}">${data['${i}'].contentList[0].title!''}</a>
    			</#if>
    		</#list>
    	</#if>
    </#if>
</#macro>  
<#--macro10开始-->
<#macro macro10 mapKey headClass bodyClass>
	<#if dataMap[mapKey]??>
    	<#local data=dataMap[mapKey]/>
    	 <div class="${headClass}">
            <h3 class="tit">${data.channelName!''}</h3>
            <a class="more" href="${data.path!'#'}">&gt;&gt; 更多</a>
        </div>
        <div class="${bodyClass}">
        	<#if (data.imgContentList[0])??>
        		<div class="pt03">
					<a class="pic" href="${data.imgContentList[0].path!'#'}">
						<img width="100px" height="80" alt="${data.imgContentList[0].title!''}" src="${data.imgContentList[0].imgPath!''}"/>
					</a>
					<h4 class="tit">
						<a href="${data.imgContentList[0].path!'#'}">${data.imgContentList[0].title!''}</a>
					</h4>
					<p class="txt"><@global.showTitle title=data.imgContentList[0].detial!'' titleNum=18></@global.showTitle> </p>
				</div>
        	</#if>
        	<#if data.contentList??>
        		<@global.showList3 ulClass='list03b' liClass='' data=data.contentList;item>
        			<div class="txt"><a href="${item.path!'#'}">${item.title!''}</a></div><span class="date">
        			<@global.showTime time=item.time!''/></span>
        		</@global.showList3>
        	</#if>
        </div>
    </#if>
</#macro>
<#--macro11开始-->
<#macro macro11 mapKey headClass bodyClass>
	<#if dataMap[mapKey]??>
    	<#local data=dataMap[mapKey]/>
    	 <div class="${headClass}">
            <h3 class="tit">${data.channelName!''}</h3>
            <a class="more" href="${data.path!'#'}">&gt;&gt; 更多</a>
        </div>
        <div class="${bodyClass}">
        	<#if data.contentList??>
        		<#if data.contentList[0]??>
        			<div class="pt03">    							
			            <a class="pic" href="${data.contentList[0].path!'#'}"><img width="100px" height="80px"
			            	 src="${resImg}/design/hosp/webbuild/gcyy/img/rencai100x80.jpg" alt="人才招聘"/></a>
			            <h4 class="tit">职位：<a href="${data.contentList[0].path!'#'}">
			            <@global.showTitle title=data.contentList[0].title!'' titleNum=5></@global.showTitle>
			            </a></h4>
			            <p class="txt">性别：<em>
			            <#if data.contentList[0].entity.gender='male'>
			            	男
			            </#if>
			            <#if data.contentList[0].entity.gender='female'>
			            	女
			            </#if>
			            <#if data.contentList[0].entity.gender='Unli'>
			            	不限
			            </#if>
			            </em></p>
			            <p class="txt">工作地点：<em>全国</em></p>
		            </div>
        		</#if>
        		<#if (data.contentList?size>1)>
	     			<ul class="list03b">
		        		<#list 1..data.contentList?size-1 as i>
		        			<#local item=data.contentList[i]/>
		                    <li>
			        			<div class="txt"><a href="${item.path!'#'}">${item.title!''}</a></div><span class="date">
			        			<@global.showTime time=item.time!''/></span>
			        		</li>
	        			</#list>
	        		</ul>
        		</#if>
        	</#if>
        </div>
    </#if>
</#macro>
<#--macro12开始-->
<#macro macro12 mapKey headClass bodyClass>
	<#if dataMap[mapKey]??>
    	<#local data=dataMap[mapKey]/>
    	 <div class="${headClass}">
            <h3 class="tit">${data.channelName!''}</h3>
            <a class="more" href="${data.path!'#'}">&gt;&gt; 更多</a>
        </div>
        <div class="${bodyClass}">
        	<#if data.contentList??>
        		<#if data.contentList[0]??>
        			<div class="pt03">
						<a class="pic" href="${data.contentList[0].path!'#'}">
							<img src="${resImg}/design/hosp/webbuild/gcyy/img/zhaobiao100x80.jpg" alt="招标信息"/></a>
						<h4 class="tit"><a href="${data.contentList[0].path!'#'}">
							<@global.showTitle title=data.contentList[0].title!'' titleNum=6></@global.showTitle>
						</a></h4>
						<p class="txt">
							<@global.showTitle title=data.contentList[0].entity.description!'' titleNum=18></@global.showTitle>
						</p>
					</div>
        		</#if>
        		<#if (data.contentList?size>1)>
	     			<ul class="list03b">
		        		<#list 1..data.contentList?size-1 as i>
		        			<#local item=data.contentList[i]/>
		                    <li>
			        			<div class="txt"><a href="${item.path!'#'}">${item.title!''}</a></div><span class="date">
			        			<@global.showTime time=item.time!''/></span>
			        		</li>
	        			</#list>
	        		</ul>
        		</#if>
        	</#if>
        </div>
    </#if>
</#macro>
<!--#macro-->
<!--#include virtual="${headUrl}"-->
<!--#include virtual="${navUrl}"-->
<!--头部结束 内容开始 -->
<div class="section">
    <div class="w290 wrap_focus290">
        <div class="wrap_focus">
            <div class="focus" id="index_Focus" style="visibility:hidden">
		        <div class="loading"><span>载入中,请稍候...</span></div>
	            <!--#--><!--#1--><@global.PowerPoint mapKey='1' ulClass='pic' liClass='';title,path,imgPath>
                	<a href="${path!'javascript:void(0)'}">
                		<img src="${imgPath!'#'}" width="280" height="300" alt="${title!''}"/>
                	</a>
                </@global.PowerPoint><!--#-->
		    </div>
        </div>
        <div class="gutter10"></div>
        <div class="hos_rapid_intro">
           <!--#--><!--#4--><@macro1 mapKey='4'></@macro1><!--#-->
        </div>
    </div>
    <div class="w414 hos_news">
    	<!--#--><!--#2--><#--一周要闻-->
        <@macro2 mapKey='2'></@macro2><!--#-->
        <div class="tab_news">
        <!--#--><!--#5--><#--父区域   医院资讯      医院动态  -->
        	<@macro4 mapKey='5'></@macro4><!--#-->
        </div>
    </div>
    <div class="sidebar">
        <div class="aside guide_line">
        	<!--#--><!--#3--><#--就医指南-->
            <@macro3 mapKey='3'></@macro3><!--#-->
        </div>
        <div class="gutter"></div>
        <div class="aside search_bar">
            <div class="i search_area">
            <form action="http://cms.elian.cc/front/searchInformation!search.action" method="post">
				<input type="hidden" value="${siteId}" name="siteId">
                <span class="tit">关键字</span><input type="text" name="keyWord" class="ipt" value=""/>
                <input type="submit" class="ips" value="搜索"/>
            </form>
            </div>
            <div class="i">
	            <div class="hot_word">热门关键词：热烈庆祝 急诊 王医生</div>
            </div>
        </div>
        <div class="gutter"></div>
        <div class="aside">
        	<!--#--><!--#6--><#--公开栏-->
            <@macro5 mapKey='6' headClass='mod_hd mod_hd01' bodyClass='mod_hd mod_bd01'></@macro5>
        	<!--#-->
        </div>
    </div>
</div>
<div class="banner">
	<div class="flash2">
	   <#if dataMap['21']??>
	      ${dataMap['21'].contentList[0].entity.content}
	   <#else>
		<object id="FlashID2" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="980" height="85" style="visibility: inherit;">
			<param name="movie" value="${resStyle}/webbuild/gcyy/swf/2.swf">
			<param name="quality" value="high">
			<param name="wmode" value="opaque">
			<param name="swfversion" value="8.0.35.0">
			<param name="expressinstall" value="${resStyle}/webbuild/gcyy/expressInstall.swf">
			<!--[if !IE]>-->
			<object type="application/x-shockwave-flash" data="${resStyle}/webbuild/gcyy/swf/2.swf" width="980" height="85">
				<!--<![endif]-->
				<param name="quality" value="high">
				<param name="wmode" value="opaque">
				<param name="swfversion" value="8.0.35.0">
				<param name="expressinstall" value="${resStyle}/webbuild/gcyy/expressInstall.swf">
				<div>
					<h4>此页面上的内容需要较新版本的 Adobe Flash Player。</h4>
					<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获取 Adobe Flash Player" width="112" height="33"></a></p>
				</div>
				<!--[if !IE]>-->
			</object>
			<!--<![endif]-->
		</object>
		</#if>
	</div>
</div>
<div class="section">
    <div class="w224 intro_depeartment">
    	<#--科室简介-->
		<div class="mod_hd mod_hd01">
           	<h3>科室简介</h3>
      	</div>
        <div class="mod_bd mod_bd01 clearfix">
        	<!--#--><!--#17--><#--病区-->
        	<#if (dataMap['17']?size>0)>
       			<h4 class="tit">${dataMap['17'].channelName!''}</h4>
       			<#if dataMap['17'].contentList??>
        			<@global.showList3 ulClass='list' liClass='' data=dataMap['17'].contentList;item>
        				<a href="${item.path!'#'}">${item.title!''}</a></li>
        			</@global.showList3>
       			</#if>
        	</#if>
        	<!--#-->
        	<!--#--><!--#18--><#--门诊-->
        	<#if (dataMap['18']?size>0)>
       			<h4 class="tit">${dataMap['18'].channelName!''}</h4>
       			<#if dataMap['18'].contentList??>
        			<@global.showList3 ulClass='list' liClass='' data=dataMap['18'].contentList;item>
        				<a href="${item.path!'#'}">${item.title!''}</a></li>
        			</@global.showList3>
       			</#if>
        	</#if>
        	<!--#-->
        	<!--#--><!--#19--><#--所站-->
        	<#if (dataMap['19']?size>0)>
       			<h4 class="tit">${dataMap['19'].channelName!''}</h4>
       			<#if dataMap['19'].contentList??>
        			<@global.showList3 ulClass='list' liClass='' data=dataMap['19'].contentList;item>
        				<a href="${item.path!'#'}">${item.title!''}</a></li>
        			</@global.showList3>
       			</#if>
        	</#if>
        	<!--#-->
        </div>
    </div>
    <div class="w480">
        <div class="guide_message">
            <div class="txt">为您导医：急救电话：0757-86334054 | 医院总机电话：0757-86289112</div>
            <div class="wrap">
            	<#--专家门诊,服务流程,服务宗旨-->
            	<@macro9 mapKey='8'></@macro9>	
                <a href="http://www.191580.com/">智能挂号</a>
            </div>
        </div>
        <div class="hos_equipment">
        	<!--#--><!--#9--><#--医疗设备-->
			<@macro7 mapKey='9'></@macro7><!--#-->
        </div>
    </div>
    <div class="sidebar">
        <div class="aside">
        	<!--#--><!--#12--><#--人员招聘-->
        	<@macro11 mapKey='12' headClass='mod_hd mod_hd03' bodyClass='mod_bd mod_bd03 job_bd03'></@macro11>
        	<!--#-->
        </div>
    </div>
</div>
<div class="section">
	<div class="intro_doc">
		<@macro8 mapKey='10'></@macro8>
	</div>
	<div class="sidebar">
		<div class="aside">
	    	<!--#--><!--#13--><#--招标信息-->
	    	<@macro12 mapKey='13' headClass='mod_hd mod_hd03' bodyClass='mod_bd mod_bd03 zhaobiao_aside'></@macro12>
	    	<!--#-->
	    </div>
    </div>
</div>

<div class="section intro_depeartment_detail">
	<div class="w720">
<style>
.ui_hd_02{ background-position: 0 -680px;height: 40px;line-height: 40px;position: relative}
.ui_hd_02 h3{ width: 109px;height: 40px;background-position: -350px -70px;margin: 0 auto;float: none;text-indent: -1024px;overflow: hidden}
.ui_hd_02 b{ position: absolute;top: 0;width: 60px;height: 40px;}
.ui_hd_02 .ui_hd_left{ background-position: -290px -70px;left: 0}
.ui_hd_02 .ui_hd_right{ background-position: -459px -70px;right: 0}
</style>
		<div class="mod_hd ui_hd_02">
			<h3 class="tit"><span class="ui_tit ui_tit_01">重点科室介绍</span></h3><span class="more"></span>
			<b class="ui_hd_left"></b>
			<b class="ui_hd_right"></b>
		</div>
		<div class="mod_bd clearfix">
			<div class="section_details">
			<!--#--><!--#7--><#--科室介绍-->
				<@macro6 mapKey='7'></@macro6> 	
			<!--#-->
			</div>
		</div>
	</div>
</div>
<div class="section bottom_news_hub">
    <div class="mod_box mod_box1">
    	<!--#--><!--#14--><#--预防保健-->
    	<@macro10 mapKey='14' headClass='mod_hd mod_hd01' bodyClass='mod_bd mod_bd01'></@macro10>
    	<!--#-->
    </div>
    <div class="mod_box mod_box2">
    	<!--#--><!--#15--><#--健康园地-->
    	<@macro10 mapKey='15' headClass='mod_hd mod_hd01' bodyClass='mod_bd mod_bd01'></@macro10>
    	<!--#-->
    </div>
    <div class="mod_box">
    	<!--#--><!--#16--><#--护理园地-->
    	<@macro10 mapKey='16' headClass='mod_hd mod_hd01' bodyClass='mod_bd mod_bd01'></@macro10>
    	<!--#-->
    </div>
</div>
<!--友情链接-->
<#include "../freemakerInclude/friend_link.html"/>
<div class="footer">
   <!--#include virtual="${footUrl}"--> 
</div>
<script src="${resScript}/base-gc.js"></script>
<script>
ztab("tab1_hd","h3","tab1_bd","div","tab_con","cur")
ztab("tab2_hd","h3","tab2_bd","div","tab_con","cur")
</script>
<script type="text/javascript" src="${resScript}/myfocus-1.2.4.full.js"></script>
<script type="text/javascript" src="${resScript}/mF_tb.js"></script>
<script>
myFocus.set({path:0,id:'index_Focus',pattern:'mF_tb',time:3,trigger:'mouseover',width:280,height:300,txtHeight:30,duration:350,direction:'left',easing:'easeOut',wrap:false});//宽度为图片容器实际宽度,主程序注释了自动添加皮肤，脚本。20110711
</script>
<script>
	ztab("tab5_hd","h4","tab5_bd","div","tab_con","cur")
</script>
<script src="${resScript}/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" language="javascript">
$(function() {
		//设备滚动
		$('#hos_equipment').carouFredSel(
		{   auto: true,
			scroll: 1,
			auto: {
				pauseOnHover: 'resume',
				//delay:1000,
				timeoutDuration:1800
			}
		}

	);
	//医生滚动
	$('#tab5_bd').find(".iframe_intro_doc").carouFredSel(
	{   auto: true,
		scroll: 1,
		auto: {
			pauseOnHover: 'resume',
			delay:2000,
			timeoutDuration:2500
		},
		items:{
			visible:3//不用框架必须指定显示数目
		}
	}
	);
});
</script>
</body>
</html>