<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9">
		<title>${title!''}</title>
		<meta name="Keywords" content="${keywords!''}" /> 
		<meta name="Description" content="${description!''}" />
		<link rel="stylesheet" href="http://style.elian.cc/main/blog/st0528.css" type="text/css" media="screen">
		<link rel="stylesheet" href="http://style.elian.cc/main/blog/st.css" type="text/css" media="screen">
		<link rel="stylesheet" href="http://style.elian.cc/main/blog/index.css" type="text/css" media="screen">
		<link rel="stylesheet" href="${resStyle}/global.css" type="text/css">		
		<link rel="shortcut icon" type="image/x-icon" href="http://www.elian.cc/favicon.ico">
		<script language="javascript" type="text/javascript" src="${resScript}/common.js"></script>
		<script src="${resScript}/base0530.js"></script>
		<script src="${resScript}/base.js"></script> 
		<script src="${resScript}/myfocus-1.2.4.full.js"></script> 
		<script src="${resScript}/mF_tb.js"></script> 
		<script>
		myFocus.set({path:0,id:'index_Focus',pattern:'mF_tb',time:3,trigger:'mouseover',width:280,height:226,txtHeight:'default',duration:350,direction:'left',easing:'swing'});
		</script>	
	</head>
<body>	
	<#import '../include/global.html' as global/>
	<!--#include virtual="${headUrl}"-->
	<!--#include virtual="${navUrl}"-->
<div id="wrap"> 
    <div id="content">
        <div class="box_line"></div>
        <!--区域1开始-->
        <div class="area clearfix"> 
            <!--区域主栏目开始-->
            <div class="colmain"> 
                <div class="box_280 fl">
                     <div class="focus" id="index_Focus" style="visibility:hidden">
						  <div class="loading"><span>载入中,请稍候...</span></div>				                       
						 <ul class="pic">            
						  <li><a href="javascript:void(0)"><img src="http://style.elian.cc/main/blog/images/naifen280x226.jpg" thumb="" alt="洋品牌奶粉一定更好？"/></a></li>
				          <li><a href="javascript:void(0)"><img src="http://style.elian.cc/main/blog/images/jianfei280x226.jpg" thumb="" alt="女性警惕“肥肚腩”内藏肿瘤"/></a></li>
				          <li><a href="javascript:void(0)"><img src="http://style.elian.cc/main/blog/images/juzi280x226.jpg" thumb="" alt="治疗感冒咳嗽好方法-烤橘子"/></a></li>
				          <li><a href="javascript:void(0)"><img src="http://style.elian.cc/main/blog/images/sleep280x226.jpg" thumb="" alt="健康智慧每天睡好8小时"/></a></li>
				          </ul>
			         </div>
                </div>  	
                <div class="box_390 st_hotblog fr">
                        <div class="st_hotblog_hd"><a href="javascript:void(0)">最新热点博文</a></div>
                        
                        <h3><a target="_blank" href="http://www.elian.cc:8001/Blog/snail/article/68/">月饼怎样吃才健康</a></h3>                   
                         <p><a target="_blank" href="http://www.elian.cc:8001/Blog/snail/article/68/">中秋节当然少不了各款应节美食。而月饼更是的主角。不少人害怕甜腻的传统月饼，其实只要掌握一些搭配原则，我们还是能高高兴兴地过一个健康中秋的。 中山大学公共卫生学院... </a>[<a href="http://www.eliao.cc/miscellaneousNews/miscellaneousNews_detail.jsp?miscellaneousNewsId=31">全文</a>]2011-08-16</p>                       
                        <ul class="st_hotblog_bd clearfix">                        
                            <li><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/60/">渤海溢油最终赔偿金额未定 北海海洋局将提</a><span>&nbsp;&nbsp;[2011-08-16]</span></li>                         
                            <li><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/59/">我国铁路实施新运行图 部分高铁降速票价降</a><span>&nbsp;&nbsp;[2011-08-16]</span></li>                         
                            <li><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/61/">我国首艘航母可能在南海服役由军委直接指挥</a><span>&nbsp;&nbsp;[2011-08-16]</span></li>                         
                            <li><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/64/">河北昌黎等地被曝用瘦肉精喂羊多年</a><span>&nbsp;&nbsp;[2011-08-16]</span></li>                         
                            <li><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/63/">中石化称国内油价涨快跌慢是定价机制问题</a><span>&nbsp;&nbsp;[2011-08-16]</span></li>                         
                        </ul>
                </div>
                <div class="hr_10"></div>
                <div class="box_690 fl"> 
                    <div class="st_recommblog clearfix">                    
                        <h3 class="st_recommblog_hd clearfix"><a href="javascript:void(0)">每日推荐医生博客</a><span class="more"><a href="javascript:void(0)">查询更多 &gt;&gt;</a></span></h3>
                        <div class="st_recommblog_bd clearfix">                        
                            <div class="picbox">  
                                <div class="pic100"><img width="100" height="100" src="http://style.elian.cc/main/blog/images/st/doctor-recomm-logo.jpg" /><br/><span></span></div>
                                <div class="pic_txt"><span class="name"><a href="#"></a></span></div>
                            </div>
                            <div class="txt">
								<h4><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/65/">广州的士业内传闻"十一"调价 起步价或调至10元</a></h4>
                            <p class="clearfix"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/65/">记者昨日从知情人士处获悉，出租车调价方案目前已提交至广州市政府待最后审批，预计于本月底或者下月初将有定案对外公布，10月1日起出租车可能正式实施新价格，业内普遍认为，起步价10元可能性较大。  业内传...</a><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/65/">[全文]</a></p>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <!--区域边栏目开始-->
            <div class="colside">
                <div class="box_240">
                    <div class="st_userlogin clearfix">
                        <h3>医生会员登陆</h3>                        
                        <form action="../login/login.jsp" method="post">
                            <ul> 
                                <li><label for="st_usrname">姓名：</label><input type="text" name="accName"/></li>
                                <li><label for="st_pw">密码：</label><input type="password" id="st_pw" name="accPwd"/></li>                              
                            </ul>
                            <div id="j_st_btngroup" class="st_userlogin_btn">
                                <button id="st_login_btn"><span>登陆</span></button>&nbsp;&nbsp;&nbsp;
                                <a href="javascript:void(0)" onclick="javascript:document.location.href='../login/医生帐号注册.jsp'" >注册为博客会员</a> 
                           </div>
                        </form>                        
                    </div>
                </div>
                <div class="box_240">
                     <div class="clearfix" id="st_weekblog">
                        <h3><a href="javascript:void(0)">一周点击榜</a></h3>                         
                            <ul class="list14_ico">                             
                               <li> <a href="http://www.elian.cc:8001/Blog/freedom/article/42/" target="_blank">这五类人容易变酸性体质</a></li>                             
                               <li> <a href="http://www.elian.cc:8001/Blog/freedom/article/40/" target="_blank">日常生活中12个最廉价防癌处方</a></li>                             
                               <li> <a href="http://www.elian.cc:8001/Blog/freedom/article/43/" target="_blank">人为什么会失眠？</a></li>                             
                               <li> <a href="http://www.elian.cc:8001/Blog/flyfish/article/37/" target="_blank">新知：人体天生有五大缺陷</a></li>                             
                               <li> <a href="http://www.elian.cc:8001/Blog/freedom/article/44/" target="_blank">研究表明左撇子并不比右撇子更具创造力</a></li>                             
                               <li> <a href="http://www.elian.cc:8001/Blog/freedom/article/50/" target="_blank">常喝蜂蜜改善皮肤抗衰老</a></li>                             
                               <li> <a href="http://www.elian.cc:8001/Blog/freedom/article/49/" target="_blank">夏季白领诱发颈椎病七大原因</a></li>                               
                               <li> <a href="http://www.elian.cc/information/info/2138.html" target="_blank">轻松绕过亚健康的10条建议</a></li>                               
                               <li> <a href="http://www.elian.cc/information/info/2151.html" target="_blank">春季防鼻炎 中药有良方</a></li>                               
                            </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_line"></div>
        <div class="hr_960"></div>
        <!--广告区域1开始-->
        <div class="gg_banner_960 clearfix">
            <div class="gg_st_710"><img  class="gg_st_710_n1" src="http://style.elian.cc/main/blog/images/gg_st_710.jpg"/></div>
            <div class="gg_st_260"><img class="gg_st_260_n1" src="http://style.elian.cc/main/blog/images/gg_st_260.jpg"/></div>
        </div>
        <div class="hr_960"></div>
        <!--区域2开始-->        
          <div class="area el_blog clearfix">
            <div class="colmain"> 
                <!--区域主栏目上部开始-->
                <div class="main_hd clearfix">
                    <h3 class="tit01">医学博文</h3><span class="more"><a href="javascript:void(0)">更多</a></span>
                </div>
                <div class="section_s_300">
                    <div class="ui_bg">
                        <div class="pt04" >                        
                            <a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/50/"><img width="250" height="100" src="http://www.elian.cc:8001/eliaoTerminus/blog/userfiles/images/1315301047515.jpg" alt=""/><span class="tit">常吃蜂蜜可以使用皮肤细嫩；西红柿能提高皮肤防晒能力，降低患癌风险；胡萝卜能够减少皮肤皱纹；海带能够防止皮肤过多分泌油脂……小编推荐给你7种对皮肤十分友好的食物，并附有相关做法，让你提亮肤色，今夏更美。  &nbsp;   1、蜂蜜   保持皮肤红润有光泽，蜂蜜被誉为大自然中最完美的营养食品，含有大量</span></a>                       		
                        </div>
                    </div>
                        <div class="bd clearfix">
                            <h4 class="tit02">医学博文</h4>
                            <ul class="list01_ldot">                            
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/49/">炎炎夏季，颈椎病患者却多了起来。这是因为</a></li>                             
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/48/">30.74%花在日常开支，23.51%补</a></li>                             
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/47/">我国传统节日端午节即将来临，作为特色应节</a></li>                             
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/46/">高血压病人需要终身服药，那么得了高血压对</a></li>                             
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/45/">卫生部有关负责人日前指出，卫生部已将邻苯</a></li>                             
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/44/">左撇子通常被认为在智力上更具优势，但日前</a></li>                                
                            </ul>
                        </div>
                </div>
                <div class="section_s_400">
                    <div class="wrap_bd">
                    <div class="hd">                    	
                        <h2><a href="http://www.elian.cc:8001/Blog/freedom/article/43/" target="_blank">人为什么会失眠？</a></h2>
                        <p class="txt">有乡亲说，夜里11点到1点不睡，是不想要脸了；凌晨1点到3点不睡，是不想要命了。话虽这么说，但这觉也不是想睡就能睡得着的...</p>                        	
                        <ul class="list04 ui_list">                        
                            <li><div class="txt hot"><a href="http://www.elian.cc:8001/Blog/yangbo/article/89/" target="_blank">莫用震荡逗弄婴儿</a></div><span class="name">杨柏</span>
                            </li>                          
                            <li><div class="txt hot"><a href="http://www.elian.cc:8001/Blog/zhangliangying/article/93/" target="_blank">性交后晕厥急救方法话你知</a></div><span class="name">张良英</span>
                            </li>                          
                            <li><div class="txt hot"><a href="http://www.elian.cc:8001/Blog/zhaochun/article/94/" target="_blank">近亲婚配 胎儿易得先心病</a></div><span class="name">赵 淳</span>
                            </li>                            
                            <!--标题最长限制18个字,作者名字6个字-->
                        </ul>
                    </div>
                    <div class="ui_dotline"></div>
                    <div class="bd">
                        <h4 class="tit03"><a href="javascript:void(0)">[最新医博]</a></h4>
                        <ul class="list01_ldot">                        
                            <li class="hot"><a href="http://www.elian.cc:8001/Blog/flyfish/article/39/" target="_blank">三直角原则 白领坐姿也有“潜规则”</a></li>                         
                            <li class="hot"><a href="http://www.elian.cc:8001/Blog/flyfish/article/38/" target="_blank">成龙养生诀窍：每天出汗是原则</a></li>                         
                            <li class="hot"><a href="http://www.elian.cc:8001/Blog/flyfish/article/37/" target="_blank">新知：人体天生有五大缺陷</a></li>                         
                            <li class="hot"><a href="http://www.elian.cc:8001/Blog/flyfish/article/36/" target="_blank">夏季补阳：四十不补 五十受苦</a></li>                             
                        </ul>                        
                        <div class="pt04">
                        <a href="http://www.elian.cc:8001/Blog/flyfish/article/35/" target="_blank"><img width="120" height="90" alt="王医生" src="http://www.elian.cc:8001/eliaoTerminus/blog/userfiles/images/1308025936340.jpg"><span class="tit">夏季以“热”除“热”养生消暑</span></a>
                        </div>                          
                    </div>
                    </div>                    
                </div>
            </div>
            <!--区域边栏目开始-->
            <div class="colside">
                <div class="ui_wrap">
                <div class="side_hd clearfix"><h3 class="tit04">医学名博</h3><span class="more"><a href="javascript:void(0)">更多</a></span>
                </div>
                <div class="side_bd">
                    <ul class="pt03 clearfix">                     
                        <li><a href="http://www.elian.cc:8001/Blog/jiangguohua/" class="pic" target="_blank"><img width="70" height="70" src="http://style.elian.cc/main/blog/images/jgh.jpg"></a>
                            <h5 class="name"><a href="http://www.elian.cc:8001/Blog/jiangguohua/" target="_blank">蒋国华</a></h5>
                            <p class="txt">
                                呼吸内科主任、主任医师、皖南医学院兼职副教授
                            </p>
                        </li>                      
                        <li><a href="http://www.elian.cc:8001/Blog/xuxiaodong/" class="pic" target="_blank"><img width="70" height="70" src="http://style.elian.cc/main/blog/images/xxd.jpg"></a>
                            <h5 class="name"><a href="http://www.elian.cc:8001/Blog/xuxiaodong/" target="_blank">徐晓东</a></h5>
                            <p class="txt">
                                心内科工主任医师、会主席、院党委委员、安徽医科大学硕士生导师、皖南医学院兼职副教授
                            </p>
                        </li>
                    </ul>
                    <div class="ui_dotline"></div>
                    <h4 class="tit03"><a href="javascript:void(0)">[医博奇趣]</a></h4>
                    <ul class="list01_ldot">                     
                        <li><a href="http://www.elian.cc:8001/Blog/freedom/" target="_blank">夏季裸睡对男人的好处</a></li>                       
                        <li><a href="http://www.elian.cc:8001/Blog/freedom/" target="_blank">日常生活中12个最廉价防癌处方</a></li>                       
                        <li><a href="http://www.elian.cc:8001/Blog/flyfish/" target="_blank">三直角原则 白领坐姿也有“潜规则”</a></li>                       
                        <li><a href="http://www.elian.cc:8001/Blog/flyfish/" target="_blank">成龙养生诀窍：每天出汗是原则</a></li>                        
                        <li><a href="http://www.elian.cc/information/info/2116.html" target="_blank">苹果蒸吃止泻 蒸过的水果胜过药</a></li>                           
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <div class="hr_960"></div>
        <!--广告区域2开始-->
        <div class="gg_banner_960 clearfix">
            <div class="gg_st_710"><img  class="gg_st_710_n1" src="http://style.elian.cc/main/blog/images/gg_st_710_2.jpg"/></div>
            <div class="gg_st_260"><img class="gg_st_260_n1" src="http://style.elian.cc/main/blog/images/gg_st_260_2.jpg"/></div>
        </div>
        <div class="hr_960"></div>  
          <div class="area el_blog clearfix">
            <div class="colmain"> 
                <!--区域主栏目上部开始-->
                <div class="main_hd clearfix">
                    <h3 class="tit01">社会博文</h3><span class="more"><a href="javascript:void(0)">更多</a></span>
                </div>
                <div class="section_s_300">
                    <div class="ui_bg">
                        <div class="pt04" >                       
                            <a target="_blank" href="http://www.elian.cc:8001/Blog/flyfish/article/34/"><img width="250" height="100" src="http://www.elian.cc:8001/eliaoTerminus/blog/userfiles/images/1315274354530.jpg" alt=""/><span class="tit">音乐是一种旋律，一种心境。常听舒缓平和的音乐，可放松紧张心 情、缓解身体不适。但采用音乐养生或治疗某种疾病的奥秘，很多人可能并不了解。中央音乐学院音乐治疗研究中心主任，中国音乐治疗学会副秘书长高天表示，音 乐疗法作为一种辅助医疗手段，对慢性疾病的康复有一定效果。音乐治疗的对象包括心理疾病、亚健康和脑</span></a>                       		
                        </div>
                    </div>
                        <div class="bd clearfix">
                            <h4 class="tit02">医学博文</h4>
                            <ul class="list01_ldot">                            
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/33/">&nbsp;3 闪电泡芙 &nbsp; </a></li>                             
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/53/">现在，健康已经成为人们关注的焦点话题，网</a></li>                             
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/51/">对于3~6岁儿童的培养是决定其日后是否成</a></li>                             
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/50/">常吃蜂蜜可以使用皮肤细嫩；西红柿能提高皮</a></li>                             
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/49/">炎炎夏季，颈椎病患者却多了起来。这是因为</a></li>                             
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/48/">30.74%花在日常开支，23.51%补</a></li>                                
                            </ul>
                        </div>
                </div>
                <div class="section_s_400">                    
                    <div class="wrap_bd">
                    <div class="hd">                    	
                        <h2><a href="http://www.elian.cc:8001/Blog/freedom/article/47/" target="_blank">熟粽子叶子太鲜绿或致中毒</a></h2>
                        <p class="txt">我国传统节日端午节即将来临，作为特色应节食品粽子将从本周起大量上市。昨日，深圳市市场监督管理局发布节前粽子消费提示，为使...</p>                        	
                        <ul class="list04 ui_list">                        
                            <li><div class="txt hot"><a href="http://www.elian.cc:8001/Blog/chenzuning/article/95/" target="_blank">白领颈椎病的预防7招</a></div><span class="name">陈祖宁</span>
                            </li>                          
                            <li><div class="txt hot"><a href="http://www.elian.cc:8001/Blog/lishilin/article/96/" target="_blank">内科医生自述：游泳治好了我的颈椎病</a></div><span class="name">李诗林</span>
                            </li>                          
                            <li><div class="txt hot"><a href="http://www.elian.cc:8001/Blog/fangyuwan/article/97/" target="_blank">季节交替 警惕新生儿肺炎</a></div><span class="name">方禹万</span>
                            </li>                            
                            <!--标题最长限制18个字,作者名字6个字-->
                        </ul>
                    </div>
                    <div class="ui_dotline"></div>
                    <div class="bd">
                        <h4 class="tit03"><a href="javascript:void(0)">[最新医博]</a></h4>
                        <ul class="list01_ldot">                        
                            <li class="hot"><a href="http://www.elian.cc:8001/Blog/freedom/article/43/" target="_blank">人为什么会失眠？</a></li>                         
                            <li class="hot"><a href="http://www.elian.cc:8001/Blog/freedom/article/42/" target="_blank">这五类人容易变酸性体质</a></li>                         
                            <li class="hot"><a href="http://www.elian.cc:8001/Blog/freedom/article/41/" target="_blank">夏季裸睡对男人的好处</a></li>                         
                            <li class="hot"><a href="http://www.elian.cc:8001/Blog/freedom/article/40/" target="_blank">日常生活中12个最廉价防癌处方</a></li>                             
                        </ul>                        
                        <div class="pt04">
                        <a href="http://www.elian.cc:8001/Blog/flyfish/article/39/" target="_blank"><img width="120" height="90" alt="王医生" src="http://www.elian.cc:8001/eliaoTerminus/blog/userfiles/images/1308039025605.jpg"><span class="tit">三直角原则 白领坐姿也有“潜规则”</span></a>
                        </div>                          
                    </div>
                    </div>                    
                </div>
            </div>
            <!--区域边栏目开始-->
            <div class="colside">                
                <div class="ui_wrap">
                <div class="side_hd clearfix"><h3 class="tit04">社会名博</h3><span class="more"><a href="javascript:void(0)">更多</a></span>
                </div>
                <div class="side_bd">
                    <ul class="pt03 clearfix">                     
                        <li><a href="http://www.elian.cc:8001/Blog/zhuyan/" class="pic" target="_blank"><img width="70" height="70" src="http://style.elian.cc/main/blog/images/zy.jpg"></a>
                            <h5 class="name"><a href="http://www.elian.cc:8001/Blog/zhuyan/" target="_blank">朱 艳</a></h5>
                            <p class="txt">
                                感染科副主任、副主任医师
                            </p>
                        </li>                      
                        <li><a href="http://www.elian.cc:8001/Blog/zhanghui/" class="pic" target="_blank"><img width="70" height="70" src="http://style.elian.cc/main/blog/images/zr.jpg"></a>
                            <h5 class="name"><a href="http://www.elian.cc:8001/Blog/zhanghui/" target="_blank">张卉</a></h5>
                            <p class="txt">                                妇产科主任医师
                            </p>
                        </li>
                        <!--文字介绍控制字数-->
                    </ul>
                    <div class="ui_dotline"></div>
                    <h4 class="tit03"><a href="javascript:void(0)">[医博奇趣]</a></h4>
                    <ul class="list01_ldot">                     
                        <li><a href="http://www.elian.cc:8001/Blog/freedom/" target="_blank">增塑剂是否影响健康要看摄入量</a></li>
                        <li><a href="http://www.elian.cc:8001/Blog/freedom/" target="_blank">研究表明左撇子并不比右撇子更具创造力</a></li>                       
                        <li><a href="http://www.elian.cc:8001/Blog/freedom/" target="_blank">人为什么会失眠？</a></li>                       
                        <li><a href="http://www.elian.cc:8001/Blog/freedom/" target="_blank">这五类人容易变酸性体质</a></li>                        
                        <li><a href="http://www.elian.cc:8001/Blog/jiangguohua/article/79/" target="_blank">春季感冒咳嗽 五招排痰止咳</a></li>                           
                    </ul>
                </div>
                </div>                
            </div>
        </div>
    	<div class="hr_960"></div>
    	 <!--广告区域3开始-->
        <div class="gg_banner_960 clearfix">
            <div class="gg_st_710"><img  class="gg_st_710_n1" src="http://style.elian.cc/main/blog/images/gg_st_710_3.jpg"/></div>
            <div class="gg_st_260"><img class="gg_st_260_n1" src="http://style.elian.cc/main/blog/images/gg_st_260_3.jpg"/></div>
        </div>     
        <div class="hr_960"></div>
        <!--区域4开始-->        
          <div class="area el_blog clearfix">
            <div class="colmain"> 
                <!--区域主栏目上部开始-->
                <div class="main_hd clearfix">
                    <h3 class="tit01">养生博文</h3><span class="more"><a href="javascript:void(0)">更多</a></span>
                </div>
                <div class="section_s_300">
                    <div class="ui_bg">
                        <div class="pt04" >                        
                            <a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/70/"><img width="250" height="100" src="http://www.elian.cc:8001/eliaoTerminus/blog/userfiles/images/1313572533390.jpg" alt=""/><span class="tit">如何刷牙更有效  怎样刷牙才能起到真正清洁牙齿的作用？正确的刷牙，能够除去软垢、污物，清洁口腔，减少或防止龋病等牙体疾病的发生。如果刷牙的方法不得当，不但无益，而且会有害。然而一些不正确的刷牙方法还经常为大家所沿用。  正确的刷牙方式如下：  1、竖转动法，本方法可选用中等硬毛或软毛的牙刷，刷毛不进</span></a>                       		
                        </div>
                    </div>
                        <div class="bd clearfix">
                            <h4 class="tit02">养生博文</h4>
                            <ul class="list01_ldot">                            
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/54/">专家提示：芹菜、莴苣、油菜、菠菜、苋菜、</a></li>                             
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/53/">现在，健康已经成为人们关注的焦点话题，网</a></li>                             
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/52/">嫩滑的肌肤会出现很多小问题，尤其是缺水！</a></li>                             
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/51/">对于3~6岁儿童的培养是决定其日后是否成</a></li>                             
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/41/">对于习惯了“和衣而卧”的中国人而言，裸睡</a></li>                             
                                <li class="hot"><a target="_blank" href="http://www.elian.cc:8001/Blog/freedom/article/42/">研究表明，酸性体质是癌症、高血脂等恶性疾</a></li>                                
                            </ul>
                        </div>
                </div>
                <div class="section_s_400">                    
                    <div class="wrap_bd">
                    <div class="hd">                    	
                        <h2><a href="http://www.elian.cc:8001/Blog/freedom/article/44/" target="_blank">研究表明左撇子并不比右撇子更具创造力</a></h2>
                        <p class="txt">左撇子通常被认为在智力上更具优势，但日前据国外媒体报道，一项最新的研究颠覆了这一认识。  澳大利亚的一位教授认为他已经能...</p>
							<ul class="list04 ui_list">                        
                            <li><div class="txt hot"><a href="http://www.elian.cc:8001/Blog/liushaozhong/article/77/" target="_blank">八种茶方帮忙降血压</a></div><span class="name">刘少忠</span>
                            </li>                          
                            <li><div class="txt hot"><a href="http://www.elian.cc:8001/Blog/yanshixu/article/87/" target="_blank">自我管理 让血压“定”下来</a></div><span class="name">闫世序</span>
                            </li>                          
                            <li><div class="txt hot"><a href="http://www.elian.cc:8001/Blog/sufan/article/91/" target="_blank">多吃五类食物可以使眼睛明亮</a></div><span class="name">苏 藩</span>
                            </li>                            
                            <!--标题最长限制18个字,作者名字6个字-->
                        </ul>
                    </div>
                    <div class="ui_dotline"></div>
                    <div class="bd">
                        <h4 class="tit03"><a href="javascript:void(0)">[保健知识]</a></h4>
                        <ul class="list01_ldot">                        
                            <li class="hot"><a href="http://www.elian.cc:8001/Blog/flyfish/article/37/" target="_blank">新知：人体天生有五大缺陷</a></li>                         
                            <li class="hot"><a href="http://www.elian.cc:8001/Blog/freedom/article/40/" target="_blank">日常生活中12个最廉价防癌处方</a></li>                         
                            <li class="hot"><a href="http://www.elian.cc:8001/Blog/flyfish/article/34/" target="_blank">在悦耳音乐中养生防病</a></li>                         
                            <li class="hot"><a href="http://www.elian.cc:8001/Blog/flyfish/article/39/" target="_blank">三直角原则 白领坐姿也有“潜规则”</a></li>                             
                        </ul>                        
                        <div class="pt04">
                        <a href="http://www.elian.cc:8001/Blog/freedom/article/43/" target="_blank"><img width="120" height="90" alt="王医生" src="http://style.elian.cc/main/blog/images/shui120x90.jpg"><span class="tit">人为什么会失眠？</span></a>
                        </div>                          
                    </div>
                    </div>                    
                </div>
            </div>
            <!--区域边栏目开始-->
            <div class="colside">
                <div class="ui_wrap">
                <div class="side_hd clearfix"><h3 class="tit04">养生名博</h3><span class="more"><a href="javascript:void(0)">更多</a></span>
                </div>
                <div class="side_bd">
                    <ul class="pt03 clearfix">                     
                        <li><a href="http://www.elian.cc:8001/Blog/wushengyuan/" class="pic" target="_blank"><img width="70" height="70" src="http://style.elian.cc/main/blog/images/wsy.jpg"></a>
                            <h5 class="name"><a href="http://www.elian.cc:8001/Blog/wushengyuan/" target="_blank">吴生元</a></h5>
                            <p class="txt">
                                外感疾病、风湿痹症、脾胃疾病、高血压主任医师
                            </p>
                        </li>                      
                        <li><a href="http://www.elian.cc:8001/Blog/zhangliangying/" class="pic" target="_blank"><img width="70" height="70" src="http://style.elian.cc/main/blog/images/zly.jpg"></a>
                            <h5 class="name"><a href="http://www.elian.cc:8001/Blog/zhangliangying/" target="_blank">张良英</a></h5>
                            <p class="txt">
                                妇产科主任医师
                            </p>
                        </li>                        
                        
                        <!--文字介绍控制字数-->
                    </ul>
                    <div class="ui_dotline"></div>
                    <h4 class="tit03"><a href="javascript:void(0)">[医博奇趣]</a></h4>
                    <ul class="list01_ldot">
                     
                        <li><a href="http://www.elian.cc:8001/Blog/flyfish/" target="_blank">成龙养生诀窍：每天出汗是原则</a></li>
                       
                        <li><a href="http://www.elian.cc:8001/Blog/flyfish/" target="_blank">夏季以“热”除“热”养生消暑</a></li>
                       
                        <li><a href="http://www.elian.cc:8001/Blog/flyfish/" target="_blank">新知：人体天生有五大缺陷</a></li>
                       
                        <li><a href="http://www.elian.cc:8001/Blog/freedom/" target="_blank">日常生活中12个最廉价防癌处方</a></li>
 
                        <li><a href="http://www.elian.cc:8001/Blog/zhanghui/article/82/" target="_blank">17岁女生闭经 脸上长胡须</a></li>
                     </ul>
                </div>
                </div>
            </div>
        </div>
        <!--广告区域4开始-->
        <div class="gg_banner_960 clearfix">
            <div class="gg_st_710"><img  class="gg_st_710_n1" src="http://style.elian.cc/main/blog/images/gg_st_710_4.jpg"/></div>
            <div class="gg_st_260"><img class="gg_st_260_n1" src="http://style.elian.cc/main/blog/images/gg_st_260_4.jpg"/></div>
        </div>
        <div class="hr_960"></div> 
    <div class="box_line"></div>
    <div class="hr_960"></div>
    </div>
</div>
    <!--主要内容结束-->   
	<!--#include virtual="${footUrl}"-->		
	</body>
</html>