<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9">
		<title>${title!''}</title>
		<meta name="Keywords" content="${keywords!''}" /> 
		<meta name="Description" content="${description!''}" />
		<link rel="stylesheet" href="${resStyle}/global.css" type="text/css">
		<link rel="stylesheet" href="${resStyle}/jobs/index0729.css" type="text/css" media="screen">
		<link rel="shortcut icon" type="image/x-icon" href="http://www.elian.cc/favicon.ico">
		<link href="${resStyle}/jobs/RC_images.css" rel="stylesheet" type="text/css">
		<script language="javascript" type="text/javascript" src="${resScript}/common.js"></script>
		<script src="${resScript}/base0530.js">
		<script type="text/javascript">
			function setLoginType(id) {
				if (id == 1) {
					document.getElementById("frm_login").action = 'loginPersonal.action';
				} else if (id == 2) {
					document.getElementById("frm_login").action = 'enterMemberlogin.action';
				} else {
					alert("请选择登录帐号类型!");
					return false;
				}
			}
		</script>
	</head>
	<body>	
	<#import '../include/global.html' as global/>

	<!--#include virtual="${headUrl}"-->
	<!--#include virtual="${navUrl}"-->
<script type="text/javascript">
try{

}catch(e){}
</script>
<div class="section">
  <div class="RC_guangao"> <img src="${resImg}/design/main/jobs/guangao.png"> </div>
  <div class="RC_zhuche">
    <div class="RC_top">
      <div class="RC_top_left"> <img src="${resStyle}/jobs/bg/crie.png"> </div>
      <div class="RC_top_right"> <img src="${resStyle}/jobs/bg/crie_right.png"> </div>
      <div class="RC_top_Enter">
        <div class="RC_top_Enter_left"> 热点播报 </div>
        <div class="RC_top_Enter_right"> 会员服务 </div>
        <div class="RC_top_Enter_Enter"> <img src="${resStyle}/jobs/bg/crie_banner.png"> </div>
        <div class="clean"></div>
      </div>
    </div>
    <div class="RC_Enter">
      <div class="RC_Enter_left">
        <div class="wrap_focus">
        <div class="focus" id="index_Focus" style="visibility:hidden">
          <div class="loading"><span>载入中,请稍候...</span></div>
          <ul class="pic">
            <li><a href="#"><img src="${resImg}/design/main/jobs/1.jpg" width="270" height="220" alt="图片1来源于网络，版权属于作者"/></a></li>
            <li><a href="#"><img src="${resImg}/design/main/jobs/1.jpg" width="270" height="220" alt="图片1来源于网络，版权属于作者"/></a></li>
          </ul>
        </div>
      </div>
      </div>
      <div class="RC_Enter_right">
        <div class="RC_Enter1"> <img src="${resStyle}/jobs/bg/zhuche_btn.png" width="229" height="40"> </div>
        <div class="RC_Enter2">
          <form method="post" id="frm_login" action="http://www.elian.cc/job/loginPersonal.action">
            <ul>
              <li> <span class="RC_span">用户名：</span>
                <input class="RC_input" name="p.username" type="text">
              </li>
              <li> <span class="RC_span">密码：</span>
                <input class="RC_input" name="p.password" type="text">
              </li>
              <li> <span class="RC_span">类型：</span>
                <input class="RC_text" id="personalMember" name="loginType" type="radio" checked="" onclick="setLoginType(1)">
                <label class="RC_label"> 求职 </label>
                <input class="RC_text" id="enterMember" name="loginType" type="radio" onclick="setLoginType(2)">
                <label class="RC_label"> 招聘 </label>
              </li>
              <li>
                <div class="RC_btn">
                  <input class="imgBtn" type="submit" value="登录">
                </div>
                <label class="RC_label"> <a href="http://www.elian.cc/job/Register.jsp">个人注册</a> | <a href="http://www.elian.cc/job/company/enterReg.jsp">企业注册</a> </label>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="RC_Enter_Enter">
        <div class="RC_Enter_Enter2">
          <div class="RC_Enter_in2">
            <form method="post" action="${resCms}/front/searchJob!list.action">
              <ul>
                <li>
                  <label> 工作地点：
                    <select id="provinceId" name="provinceId"
								onchange="changeSelect('${resCms}/front/searchJob!changeSelect.action','provinceId', 'cityId')">
                      <option value=""> -请选择- </option>
						<option value="110000">
							北京市
						</option>
						<option value="120000">
							天津市
						</option>
						<option value="130000">
							河北省
						</option>
						<option value="140000">
							山西省
						</option>
						<option value="150000">
							内蒙古自治区
						</option>
						<option value="210000">
							辽宁省
						</option>
						<option value="220000">
							吉林省
						</option>
						<option value="230000">
							黑龙江省
						</option>
						<option value="310000">
							上海市
						</option>
						<option value="320000">
							江苏省
						</option>
						<option value="330000">
							浙江省
						</option>
						<option value="340000">
							安徽省
						</option>
						<option value="350000">
							福建省
						</option>
						<option value="360000">
							江西省
						</option>
						<option value="370000">
							山东省
						</option>
						<option value="410000">
							河南省
						</option>
						<option value="420000">
							湖北省
						</option>
					
						<option value="430000">
							湖南省
						</option>
					
						<option value="440000">
							广东省
						</option>
					
						<option value="450000">
							广西壮族自治区
						</option>
					
						<option value="460000">
							海南省
						</option>
					
						<option value="500000">
							重庆市
						</option>
						<option value="510000">
							四川省
						</option>
						<option value="520000">
							贵州省
						</option>
						<option value="530000">
							云南省
						</option>
						<option value="540000">
							西藏自治区
						</option>
						<option value="610000">
							陕西省
						</option>
						<option value="620000">
							甘肃省
						</option>
						<option value="630000">
							青海省
						</option>
						<option value="640000">
							宁夏回族自治区
						</option>
						<option value="650000">
							新疆维吾尔自治区
						</option>
						<option value="710000">
							台湾省
						</option>
						<option value="810000">
							香港特别行政区
						</option>
                    </select>
                  </label>
                </li>
                <li>
                  <label> 城　　市：
                    <select id="cityId" name="cityId">
                      <option value=""> -请选择- </option>
                    </select>
                  </label>
                </li>
                <li>
                  <label> 所属行业：
                    <select id="job.tradeType">
                      <option value="-请选择-">-请选择-</option>
                      <option value="医疗机构">医疗机构</option>
                      <option value="药企机构">药企机构</option>
                      <option value="机构组织">机构组织</option>
                      <option value="农林牧渔">农林牧渔</option>
                      <option value="医药卫生">医药卫生</option>
                      <option value="建筑建材">建筑建材</option>
                      <option value="冶金矿产">冶金矿产</option>
                      <option value="石油化工">石油化工</option>
                      <option value="水利水电">水利水电 </option>
                      <option value="交通运输">交通运输</option>
                      <option value="信息产业">信息产业</option>
                      <option value="机械机电">机械机电</option>
                      <option value="轻工食品">轻工食品</option>
                      <option value="服装纺织">服装纺织 </option>
                      <option value="专业服务">专业服务</option>
                      <option value="安全防护">安全防护</option>
                      <option value="环保绿化">环保绿化</option>
                      <option value="旅游休闲">旅游休闲 </option>
                      <option value="办公文教">办公文教</option>
                      <option value="电子电工">电子电工</option>
                      <option value="玩具礼品">玩具礼品</option>
                      <option value="家居用品">家居用品</option>
                      <option value="物资专材">物资专材</option>
                      <option value="包装用品">包装用品</option>
                      <option value="体育用品">体育用品</option>
                      <option value="办公家具">办公家具</option>
                    </select>
                  </label>
                </li>
                <li>
                  <label> 发布时间：
                    <select id="job_period">
                      <option value="-1">-请选择-</option>
                      <option value="1">一天前</option>
                      <option value="3">三天前</option>
                      <option value="7">一周前</option>
                      <option value="15">半个月前</option>
                      <option value="30">一个月前</option>
                    </select>
                  </label>
                </li>
                <li>
                  <label> 职位关键字：
                    <input class="view_name" name="jobName" type="text">
                  </label>
                  <p> 如：网页策划 编辑 美编 内容编辑 </p>
                </li>
              </ul>
              <div class="RC_Enter_btn">
                <input class="imgBtn" type="submit" value="搜索">
              </div>
            </form>
          </div>
          <div class="beizhu">
            <div class="beizhu_line"></div>
            <p> <span class="STYLE1">特色服务&gt;&gt;</span> 求职：您留简历，我来免费推荐好工作！ </p>
            <p> </p>
            <div align="right"> 招聘：免费发布职位(不限数量)，天天推荐简历！ </div>
            <p></p>
          </div>
        </div>
      </div>
      <div class="clean"></div>
    </div>
    <div class="RC_zhuche_bottom">
      <div class="RC_zhuche_bottom_left"> <img src="${resStyle}/jobs/bg/crie_bottom_left.png"> </div>
      <div class="RC_zhuche_bottom_right"> <img src="${resStyle}/jobs/bg/crie_bottom_right.png"> </div>
      <div class="clean"></div>
    </div>
  </div>
  <div class="line_clear"></div>
    
  <#import '../include/global.html' as global/>
  <#macro job1 mapKey>
 	 <div class="hot_left_top">
        <div class="hot_btn"> 热点招聘 </div>
      </div>
      <div class="hot_Enter">
        <div class="hot_line_in">
          <div class="hot_line">
            <#if dataMap[mapKey].contentList?? && (dataMap[mapKey].contentList?size>0)>
            	<ul>  
          		 	<#list 0..9 as i>
          		 		<#if dataMap[mapKey].contentList[i]??>
	          		 		<li> <a href="${dataMap[mapKey].contentList[i].path}" target="_blank">${dataMap[mapKey].contentList[i].title}&nbsp;&nbsp;</a> </li>
          		 		<#else> <#break/>
          		 		</#if>
          		 	</#list>
          		 </ul>  
            </#if>           
          </div>
          <div class="hot_line_right">
          <#if dataMap[mapKey].contentList?? && (dataMap[mapKey].contentList?size>10)>
	            <ul>
	            	<#list 10..19 as i>
          		 		<#if dataMap[mapKey].contentList[i]??>
	          		 		<li> <a href="${dataMap[mapKey].contentList[i].path}" target="_blank">${dataMap[mapKey].contentList[i].title}&nbsp;&nbsp;</a> </li>
          		 		<#else> <#break/>
          		 		</#if>
          		 	</#list>
	            </ul>
	        </#if>           
          </div>
          <div class="hot_line_icon"></div>
          <div class="clean"></div>
        </div>
      </div>
  </#macro>
  <#macro job2 mapKey>
  	<div class="hot_left_top">
        <div class="hot_btn">${dataMap[mapKey].channelName}</div>
        <a href="${dataMap[mapKey].path}" class="more"  target="_blank">更多 &gt;&gt;</a> </div>
      <div class="hot_Enter">
        <div class="hot_line_in">
          <div class="hot_line">
          	<#if dataMap[mapKey].contentList?? && (dataMap[mapKey].contentList?size>0)>
          		 <ul>  
          		 	<#list 0..9 as i>
          		 		<#if dataMap[mapKey].contentList[i]??>
	          		 		<li> <a href="${dataMap[mapKey].contentList[i].path}" target="_blank">${dataMap[mapKey].contentList[i].title}&nbsp;&nbsp;</a> </li>
          		 		<#else> <#break/>
          		 		</#if>
          		 	</#list>
          		 </ul>  
          	</#if>            
          </div>
          <div class="hot_line_right">
          	<#if dataMap[mapKey].contentList?? && (dataMap[mapKey].contentList?size>10)>
	            <ul>
	            	<#list 10..19 as i>
          		 		<#if dataMap[mapKey].contentList[i]??>
	          		 		<li> <a href="${dataMap[mapKey].contentList[i].path}" target="_blank">${dataMap[mapKey].contentList[i].title}&nbsp;&nbsp;</a> </li>
          		 		<#else> <#break/>
          		 		</#if>
          		 	</#list>
	            </ul>
	        </#if>
          </div>
          <div class="hot_line_icon"></div>
          <div class="clean"></div>
        </div>
      </div>
    </div>
  </#macro>
  <#macro job3 mapKey>
      <div class="bottom_left_top">
        <div class="bottom_btn">${dataMap[mapKey].channelName}</div>
        <a href="${dataMap[mapKey].path}" class="more"  target="_blank">更多 &gt;&gt;</a> </div>
      <div class="bottom_Enter">
        <div class="hd clearfix"> <span class="tit">招聘职位</span><span class="tit num">招聘人数</span><span class="tit date">发布日期</span> </div>
        <div class="bottom_line_in">
          <div class="bottom_line">
	          <#if dataMap[mapKey].contentList??>
		          <@global.showList2 ulClass='' liClass='' data=dataMap[mapKey].contentList;path,title,detial,time>	
				        <div class="line_left"> <a href="${path}" target="_blank">${title}</a> </div>
		                <div class="need_num">${detial!'1'}人</div>
		                <div class="line_right">${time!''} </div>
				  </@global.showList2>
			  </#if>           
          </div>
          <div class="clean"></div>
        </div>
      </div>
  </#macro>
  <div class="RC_hot">
    <div class="RC_hot_left">
      <@job1 mapKey='1'></@job1>
    </div>    
    <!-- 医院招聘 -->
    <div class="RC_hot_right">      
      <@job2 mapKey='2'></@job2>
    <div class="clean"></div>
  </div>
  <div class="line_clear"></div>
  <div class="hot_ganwei">
    <div class="ganwei_top"> <img src="${resStyle}/jobs/bg/ganwei_top.png"> </div>
    <div class="ganwei_btn">
      <ul>
        <li> <a href="javascript:void(0)">浠水县人民医院</a> </li>
        <li> <a href="javascript:void(0)">苏大附医</a> </li>
        <li> <a href="javascript:void(0)">圣心医院</a> </li>
        <li> <a href="javascript:void(0)">越南红玉美容整形医院</a> </li>
        <li> <a href="javascript:void(0)">东南整形美容医院</a> </li>
        <li> <a href="javascript:void(0)">江城妇科医院</a> </li>
        <li> <a href="javascript:void(0)">张鸿民骨伤专科医院</a> </li>
        <li> <a href="javascript:void(0)">华中科技大学校医院</a> </li>
        <li> <a href="javascript:void(0)">苏大附医</a> </li>
      </ul>
    </div>
    <div class="ganwei_Enter">
      <ul>
        <li> <a href="http://www.elian.cc/job/getEnterListJob.action?job.comId=266&job.comType=2&job.jid=217" target="_blank"> <img src="http://images.elian.cc/ftpFile/1323064954296.jpg" width="231" height="60"> </a> </li>
        <li> <a href="http://www.elian.cc/job/getEnterListJob.action?job.comId=301&job.comType=2&job.jid=216" target="_blank"> <img src="http://images.elian.cc/ftpFile/1323065124875.jpg" width="231" height="60"> </a> </li>
        <li> <a href="http://www.elian.cc/job/getEnterListJob.action?job.comId=298&job.comType=2&job.jid=214" target="_blank"> <img src="http://images.elian.cc/ftpFile/1323065232609.jpg" width="231" height="60"> </a> </li>
        <li> <a href="http://www.elian.cc/job/getEnterListJob.action?job.comId=155&job.comType=2&job.jid=203" target="_blank"> <img src="http://images.elian.cc/ftpFile/1323065501609.jpg" width="231" height="60"> </a> </li>
      </ul>
      <div class="clean"></div>
    </div>
    <div class="ganwei_bottom"> <img src="${resStyle}/jobs/bg/ganwei_bottom.png" width="980" height="11"> </div>
  </div>
  <div class="line_clear"></div>
  <div class="hot_pingpai">
    <div class="pingpai_top"> <img src="${resStyle}/jobs/bg/pingpai_top.png"> </div>
    <div class="pingpai_Enter">
      <ul>
        <li> <img src="${resImg}/design/main/jobs/pingpai_pic1.png"> </li>
        <li> <img src="${resImg}/design/main/jobs/pingpai_pic2.png"> </li>
        <li> <img src="${resImg}/design/main/jobs/pingpai_pic3.png"> </li>
      </ul>
    </div>
    <div class="pingpai_bottom"> <img src="${resStyle}/jobs/bg/ganwei_bottom.png" width="980" height="11"> </div>
  </div>
  <div class="line_clear"></div>
  <div class="RC_bottom">     
    <!-- 药企招聘 -->
    <div class="RC_bottom_left">
		<@job3 mapKey='3'></@job3>
    </div>
    <!-- 个人简历 -->
    <div class="bottom_jianli">
      <div class="jianli_index">
        <div class="jianli_top">
          <div class="jianli_wr"> 个人简历 </div>
          <a href="http://www.elian.cc/job/searchListResume.action?resume.wkIntent.workAddress=0&resume.wkIntent.workSalary=0&resume.eduBack.education=0&resume.age=0&resume.maxAge=0&resume.wkIntent.workJob=" class="more"  target="_blank">更多 &gt;&gt;</a> </div>
        <div class="jianli_btn"> <em class="txtin">编号</em><em class="txtin">性别</em><em class="txtin">学历</em> </div>
        <div class="jianli_line">
          <ul>
            <li> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=42" target="_blank">42</a> </span> <span class="RC_wr"><a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=42" target="_blank">女</a> </span> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=42" target="_blank"> 大专 </a> </span> </li>
            <li> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=45" target="_blank">45</a> </span> <span class="RC_wr"><a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=45" target="_blank">女</a> </span> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=45" target="_blank"> 中专 </a> </span> </li>
            <li> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=43" target="_blank">43</a> </span> <span class="RC_wr"><a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=43" target="_blank">女</a> </span> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=43" target="_blank"> 中专 </a> </span> </li>
            <li> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=33" target="_blank">33</a> </span> <span class="RC_wr"><a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=33" target="_blank">女</a> </span> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=33" target="_blank"> 中专 </a> </span> </li>
            <li> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=37" target="_blank">37</a> </span> <span class="RC_wr"><a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=37" target="_blank">男</a> </span> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=37" target="_blank"> 中专 </a> </span> </li>
            <li> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=31" target="_blank">31</a> </span> <span class="RC_wr"><a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=31" target="_blank">男</a> </span> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=31" target="_blank"> 本科 </a> </span> </li>
            <li> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=39" target="_blank">39</a> </span> <span class="RC_wr"><a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=39" target="_blank">女</a> </span> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=39" target="_blank"> 大专 </a> </span> </li>
            <li> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=36" target="_blank">36</a> </span> <span class="RC_wr"><a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=36" target="_blank">男</a> </span> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=36" target="_blank"> 硕士研究生 </a> </span> </li>
            <li> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=38" target="_blank">38</a> </span> <span class="RC_wr"><a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=38" target="_blank">男</a> </span> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=38" target="_blank"> 大专 </a> </span> </li>
            <li> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=34" target="_blank">34</a> </span> <span class="RC_wr"><a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=34" target="_blank">男</a> </span> <span class="RC_wr"> <a href="http://www.elian.cc/job/getInfoResume.action?resume.rid=34" target="_blank"> 硕士研究生 </a> </span> </li>
          </ul>
        </div>
      </div>
      <div class="line_guangao"> <img src="${resImg}/design/main/jobs/line_guangao.gif" width="360" height="107"> </div>
    </div>
    <div class="clean"></div>
  </div>
  <div class="line_clear"></div>
</div>

	<!--#include virtual="${footUrl}"-->
	<script src="${resScript}/base.js"></script> 
	<script src="${resScript}/myfocus-1.2.4.full.js"></script> 
	<script src="${resScript}/mF_tb.js"></script> 
	<script>
		myFocus.set( {
			path : 0,
			id : 'index_Focus',
			pattern : 'mF_tb',
			time : 3,
			trigger : 'mouseover',
			width : 460,
			height : 185,
			txtHeight : 0,
			duration : 350,
			direction : 'left',
			easing : 'easeOut',
			wrap : false
		});//宽度为图片容器实际宽度,主程序注释了自动添加皮肤，脚本。20110711
	</script> 
	<script src="${resScript}/jquery-1.4.2.min.js"></script> 
	<script src="${resScript}/jquery.scroll.js"></script> 
	<script src="${resScript}/select.js"></script>
	<script src="${resCms}/js/manage/editFrontPage.js"></script>
	</body>
</html>