<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9">
		<title>${title!''}</title>
		<meta name="Keywords" content="${keywords!''}" /> 
		<meta name="Description" content="${description!''}" />
		<link rel="stylesheet" href="${resStyle}/global.css" type="text/css">
		<link href="${resStyle}/ylqy/public.css" rel="stylesheet" type="text/css">
		<link href="${resStyle}/ylqy/qiyemain.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="${resStyle}/global.css" type="text/css">
		<script src="${resScript}/jquery-1.4.2.min.js"></script>
		<script src="${resScript}/base0530.js"></script>
		<script language="javascript" type="text/javascript" src="${resScript}/common.js"></script>	
	</head>
	<body>	
	<!--#macro-->
		<#import '../include/global.html' as global/>	
	<!--#macro-->
	<!--#include virtual="${headUrl}"-->
	<!--#include virtual="${navUrl}"-->
<div id="header"> <img src="${resImg}/design/main/ylqy/enter_banner.jpg" height="100" width="980" style="clear: left;"> </div>
<div id="content">
  <div id="product-type"> <span class="top-type">
    <p> 地区查询 </p>
    </span>
    <div id="product-tree">
      <div id="SNmenuNav" class="navlist">
	     <dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=110000'>
	            <span>
	                北京市
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=120000'>
	            <span>
	                天津市
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=130000'>
	            <span>
	                河北省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=140000'>
	            <span>
	                山西省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=150000'>
	            <span>
	                内蒙古
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=210000'>
	            <span>
	                辽宁省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=220000'>
	            <span>
	                吉林省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=230000'>
	            <span>
	                黑龙江
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=310000'>
	            <span>
	                上海市
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=320000'>
	            <span>
	                江苏省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=330000'>
	            <span>
	                浙江省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=340000'>
	            <span>
	                安徽省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=350000'>
	            <span>
	                福建省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=360000'>
	            <span>
	                江西省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=370000'>
	            <span>
	                山东省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=410000'>
	            <span>
	                河南省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=420000'>
	            <span>
	                湖北省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=430000'>
	            <span>
	                湖南省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=440000'>
	            <span>
	                广东省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=450000'>
	            <span>
	                广西
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=460000'>
	            <span>
	                海南省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=500000'>
	            <span>
	                重庆市
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=510000'>
	            <span>
	                四川省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=520000'>
	            <span>
	                贵州省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=530000'>
	            <span>
	                云南省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=540000'>
	            <span>
	                西藏
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=610000'>
	            <span>
	                陕西省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=620000'>
	            <span>
	                甘肃省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=630000'>
	            <span>
	                青海省
	            </span>
	        </a>
	    </dt>
	</dl>
	<!--<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=640000'>
	            <span>
	                宁夏回族自治区
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=650000'>
	            <span>
	                新疆维吾尔自治区
	            </span>
	        </a>
	    </dt>
	</dl>
	-->
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=710000'>
	            <span>
	                台湾省
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=810000'>
	            <span>
	                香港
	            </span>
	        </a>
	    </dt>
	</dl>
	<dl>
	    <dt class='icon03'>
	        <a target='_blank' href='${resCms}/front/searchCompany!search.action?parentAreaCode=820000'>
	            <span>
	                澳门
	            </span>
	        </a>
	    </dt>
	</dl>
      </div>
    </div>
    <span class="top-type2">
    <p> 器械分类 </p>
    </span>
    <div class="top-type2-border">
      <div class="mr">
        <ul>
          <li> <a target="_blank" href="${resCms}/front/searchInstrument!search.action?typeId=181">助行器</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchInstrument!search.action?typeId=236">洁牙机</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchInstrument!search.action?typeId=217">婴儿床</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchInstrument!search.action?typeId=218">器械车</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchInstrument!search.action?typeId=201">显微镜</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchInstrument!search.action?typeId=193">消毒柜</a> </li>
        </ul>
      </div>
    </div>
    <span class="top-type2">
    <p> 药品分类 </p>
    </span>
    <div class="top-type2-border">
      <div class="mr">
        <ul>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=35">心脑血管</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=36">妇科用药</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=37">儿科用药</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=38">消化系统</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=39">外科骨科</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=40">感冒发烧</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=41">呼吸系统</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=42">口耳鼻喉</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=43">眼科用药</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=44">泌尿生殖</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=45">抗寄生虫</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=46">抗生素药</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=47">内分泌药</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=48">皮肤用药</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=49">清热解毒</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=50">补益类药</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=51">神经系统</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=54">中草药类</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=55">维矿物质</a> </li>
          <li> <a target="_blank" href="${resCms}/front/searchMedicine!search.action?typeId=56">消毒药品</a> </li>
        </ul>
      </div>
    </div>
  </div>
 <!--#--><!--#1-->
 <!--推荐药企 -->
 <div id="famous-qiye">
    <span class="top-mid">
        <p>${(dataMap['1'].channelName)!''}</p>
    </span>
    <div style="border: none;" class="famous-qiye-border">
        <div id="fq">
            <#if dataMap['1'].imgContentList??>
            	<@global.showList3 ulClass='' liClass='' data=dataMap['1'].imgContentList;item>
                    <div class="qiye-pic">
                        <img src="${item.imgPath!'#'}" width="140" height="105" alt=""/>
                    </div>
                    <div class="qiye-title">
                        <a href="${item.path!'#'}" target="_blank">${item.title!'#'}</a>
                        <p>
                        </p>
                        <p>
                        <@global.showTitle title=item.entity.shortIntroduce!'' titleNum=100></@global.showTitle>
                            <a target="_blank" href="${item.path!'#'}">[详细内容]</a>
                        </p>
                    </div>
            	</@global.showList3>
            </#if>
        </div>
    </div>
</div>
<!--#-->
 <!--#--><!--#2-->
 <!--最新企业 -->
  <div id="box-right">
    <div class="qiye-top">
        <span class="top-r">
            <p>${(dataMap['2'].channelName)!''}</p>
        </span>
        <div class="qiye-top-border">
            <ul>
            	<#if dataMap['2'].imgContentList??>
            		<#list dataMap['2'].imgContentList as item>
		                <li style="padding-top: 10px; padding-bottom: 10px;">
		                    <span>
		                        ${item_index+1}
		                    </span>
		                    <div class="p-img">
		                        <img width="80" height="60" src="${item.imgPath!''}"/>
		                    </div>
		                    <a target="_blank" href="${item.path!'#'}">${item.title!''}</a>
		                </li>
            		</#list>
            	</#if>
            	<#if dataMap['2'].contentList??>
	                <#list dataMap['2'].contentList as item>
		                <li class="tp">
		                    <span>
		                    	<#if (dataMap['2'].imgContentList)??>
	                    		 	${item_index+1+dataMap['2'].imgContentList?size}
		                    		 <#else>
		                    		 	${item_index+1}
		                    	</#if>
		                    </span>
		                    <div class="p-name">
		                        <a target="_blank" href="${item.path!'#'}">${item.title!''}</a>
		                    </div>
		                </li>
	                </#list>
            	</#if>
            </ul>
        </div>
    </div>
</div>
<!--#-->  
  
 <!--#--><!--#3-->
 <!--推荐企业  -->
  <span class="best-company">
  <p> ${(dataMap['3'].channelName)!'推荐企业 '}</p>
  </span>
  <div class="qiye-list">
  	<#if dataMap['3'].contentList??>
	  	<@global.showList3 ulClass='' liClass='' data=dataMap['3'].contentList;item>
	  		<a href="${item.path}" target="_blank">
	  			<img class="qiye-ico" src="${resStyle}/ylqy/bg/113.gif" border="none"/>
	  		${item.title}</a> 
		</@global.showList3>
  	</#if>
  </div>
  <!--#-->
  
  <!-- 最新产品  -->
  <!--#--><!--#4-->
  <span class="best-company">
  <p> ${(dataMap['3'].channelName)!'最新产品  '}</p>
  </span>
  <div class="qiye-list2">
  	<#if dataMap['4'].imgContentList??>
	  	<@global.showList3 ulClass='product-list' liClass='' data=dataMap['4'].imgContentList;item>
	  		<a href="${item.path!'#'}" target="_blank">
	  		<img src="${item.entity.frontsImg!'#'}" width="100" alt="${item.entity.cnName!''}"> </a>
	  		<span class="txt"> <a class="product-name" href="${item.path!'#'}" target="_blank">${item.entity.cnName!''}</a> <br>
	        <span style="color: #555;"><b>药品规格：</b> </span> <span><@global.showTitle title=item.entity.specification!'' titleNum=40></@global.showTitle></span> <br>
	        <span style="color: #555;"><b>功效主治：</b> </span> </span><@global.showTitle title=item.entity.attendingFunctions!'' titleNum=40></@global.showTitle></span>
		</@global.showList3>
  	</#if>
    <div></div>
  </div>
   <!--#-->
</div>
<!--#include virtual="${footUrl}"-->
</body>
</html>