* {
	margin: 0px; padding: 0px; list-style-type: none;
}
a {
	
}
:focus {
	outline: 0px;
}
label {
	cursor: pointer;
}
img {
	vertical-align: middle;
}
table {
	border-collapse: collapse; border-spacing: 0; empty-cells: show;
}
h1 {
	font-size: 16px;
}
h2 {
	font-size: 14px;
}
h3 {
	font-size: 14px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 12px;
}
abbr {
	border: 0px currentColor; font-variant: normal;
}
acronym {
	border: 0px currentColor; font-variant: normal;
}
address {
	font-style: normal; font-weight: normal;
}
caption {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
dfn {
	font-style: normal; font-weight: normal;
}
em {
	font-style: normal; font-weight: normal;
}
th {
	font-style: normal; font-weight: normal;
}
var {
	font-style: normal; font-weight: normal;
}
optgroup {
	font-style: normal; font-weight: normal;
}
input {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
button {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
textarea {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
select {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
optgroup {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
option {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
input {
	
}
button {
	
}
textarea {
	
}
select {
	
}
a {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
a {
	color: rgb(94, 94, 94); text-decoration: none;
}
a:visited {
	color: rgb(94, 94, 94); text-decoration: none;
}
a:hover {
	color: rgb(65, 131, 196); text-decoration: underline;
}
.clear {
	height: 0px; line-height: 0; overflow: hidden; clear: both; font-size: 0px; display: block;
}
.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.clearfix {
	display: inline-table;
}
.clearfix {
	display: block;
}
* + html .clearfix {
	min-height: 1%;
}
body {
	background: rgb(255, 255, 255); font: 12px/180% Arial, Lucida, Verdana, "����", Helvetica, sans-serif; color: rgb(51, 51, 51); font-size-adjust: none; font-stretch: normal;
}
.shortcut {
	left: 0px; top: 0px; width: 100%; position: fixed; z-index: 9999;
}
.shortcut {
	background: rgb(238, 238, 238); height: 28px; text-transform: uppercase; line-height: 28px; font-size: 12px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.shortcut h1 {
	font-family: "微软雅黑","宋体"; font-size: 16px;
}
.shortcut a {
	padding: 0px 10px; color: rgb(51, 51, 51); letter-spacing: 1px; float: left; display: block; text-shadow: 0px 1px 1px #fff;
}
.shortcut h1 {
	padding: 0px 10px; color: rgb(51, 51, 51); letter-spacing: 1px; float: left; display: block; text-shadow: 0px 1px 1px #fff;
}
.shortcut a:hover {
	background: rgb(255, 255, 255);
}
.shortcut span.right {
	float: right;
}
.shortcut span.right a {
	color: rgb(255, 102, 0); font-weight: 800; float: left; display: block;
}
.headeline {
	height: 40px; overflow: hidden;
}
.adv960x90 {
	margin: 0px auto; border: 1px solid rgb(230, 230, 230); width: 960px; height: 90px; overflow: hidden;
}
.adv728x90 {
	margin: 0px auto; border: 1px solid rgb(230, 230, 230); width: 728px; height: 90px; overflow: hidden;
}
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
.mainlist{padding:10px;}
.mainlist li{height:28px;line-height:28px;font-size:12px;}
.mainlist li span{margin:0 5px 0 0;font-family:"����";font-size:12px;font-weight:400;color:#ddd;}
/* Button base */
.Button{
	position:relative;
	display:inline-block;
	padding:.45em .825em .45em;
	text-align:center;
	line-height:1em; 
	border:1px solid transparent;
	cursor:pointer; 
	 
	border-radius:.3em; 
	-moz-border-radius:.3em; 
	-webkit-border-radius:.3em; 
	
	-moz-transition-property:color, -moz-box-shadow, text-shadow; 
	-moz-transition-duration:.05s; 
	-moz-transition-timing-function:ease-in-out; 
	-webkit-transition-property:color, -webkit-box-shadow, text-shadow; 
	-webkit-transition-duration:.05s; 
	-webkit-transition-timing-function:ease-in-out; 
	
	box-shadow:0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35); 
	-moz-box-shadow:0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35); 
	-webkit-box-shadow:0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35);
}

.Button:hover {text-decoration:none;}
.Button strong {position:relative; z-index:2;}

.Button{
	display:block;border:1px solid;opacity:1;color:#fff;font-size:22px;width:240px;text-decoration:none;margin:20px auto;
	
	border-radius:.3em;
	-moz-border-radius:.3em;
	-webkit-border-radius:.3em;
	
	box-shadow:inset 0 1px rgba(255,255,255,0.35);
	-moz-box-shadow:inset 0 1px rgba(255,255,255,0.35);
	-webkit-box-shadow:inset 0 1px rgba(255,255,255,0.35);
	
	-moz-transition-property:opacity;
	-moz-transition-duration:0.5s;
	-moz-transition-timing-function:ease-in-out;
	-webkit-transition-property:opacity;
	-webkit-transition-duration:0.5s;
	-webkit-transition-timing-function:ease-in-out;
}

.Button:hover span{
	-moz-transition-property:opacity;
	-moz-transition-duration:0.05s;
	-moz-transition-timing-function:linear;
	-webkit-transition-property:opacity;
	-webkit-transition-duration:0.05s;
	-webkit-transition-timing-function:linear;
}
.Button:active span{
	-moz-transition:none;
	-webkit-transition:none;
}

/* blue Button */
.blueButton{color:#fcf9f9; text-shadow:0 -1px rgba(34,25,25,0.5);}
.blueButton:hover {color:#fff; text-shadow:0 -1px rgba(34,25,25,0.3);}
.blueButton:active {color:#f2f0f0; text-shadow:0 -1px rgba(34,25,25,0.6);}

.blueButton{
	border-color:#015E91;
	background-color:#3693D5;
	background:-moz-linear-gradient(center top , #54B1EB, #47A0E0 50%, #419FE1 50%, #3683D5);
	background:-o-linear-gradient(top left, #54B1EB, #47A0E0 50%, #419FE1 50%, #3683D5);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#54B1EB), to(#47A0E0), color-stop(.5,#419FE1),color-stop(.5,#3683D5));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#54B1EB', endColorstr='#3683D5');
}

.blueButton:hover{
	border-color:#0366AD;
	background-color:#3EA1D6;
	background:-moz-linear-gradient(center top, #5EB4EA, #61A1EE 50%, #59A5EB 50%, #3691E6);
	background:-o-linear-gradient(top left, #5EB4EA, #61A1EE 50%, #59A5EB 50%, #3691E6);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#5EB4EA), to(#61A1EE), color-stop(.5,#59A5EB),color-stop(.5,#3691E6));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5EB4EA', endColorstr='#3691E6');
}

.blueButton:active{
	border-color:#013B6A;
	background-color:#3089C8;
	background:-moz-linear-gradient(center top, #4B9CDD, #4189D5 50%, #3D8BD3 50%, #3093C8);
	background:-o-linear-gradient(top left, #4B9CDD, #4189D5 50%, #3D8BD3 50%, #3093C8);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4B9CDD), to(#4189D5), color-stop(.5,#3D8BD3),color-stop(.5,#3093C8));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4B9CDD', endColorstr='#3093C8');
}

.blueButton.Button18:hover{
	box-shadow:0 1px rgba(255, 255, 255, 0.8), 0 1px rgba(255, 255, 255, 0.35) inset, 0 0 10px rgba(82, 162, 235, 0.25);
	-moz-box-shadow:0 1px rgba(255, 255, 255, 0.8), 0 1px rgba(255, 255, 255, 0.35) inset, 0 0 10px rgba(82, 162, 235, 0.25);
	-webkit-box-shadow:0 1px rgba(255, 255, 255, 0.8), 0 1px rgba(255, 255, 255, 0.35) inset, 0 0 10px rgba(82, 162, 235, 0.25);
}
.blueButton.Button18:active{
	box-shadow:0 1px 2px rgba(34, 25, 25, 0.25) inset, 0 0 3px rgba(82, 202, 235, 0.35);
	-moz-box-shadow:0 1px 2px rgba(34, 25, 25, 0.25) inset, 0 0 3px rgba(82, 202, 235, 0.35);
	-webkit-box-shadow:0 1px 2px rgba(34, 25, 25, 0.25) inset, 0 0 3px rgba(82, 202, 235, 0.35);	
}