<#include "../includes/header.html"/>
<#include "../includes/com_header.html"/>
<#--顶部第一栏begin-->
<div class="gutter"></div>
<div class="section">
    <#include "../includes/info_content.html">
    <div class="sidebar">
    	 <div class="aside" id="channelDiv">
		     <#include "../includes/info_channel.html">
		 </div>
        <!--侧边 -->
		 <!--侧边 -->
        <div class="aside comfile">
			<#include "../includes/side_1.html"/>
		</div>
    </div>
</div>
<div class="wrap_footer">
	<!--#include virtual="${footUrl}"-->
</div>
<#include "../includes/com_footer.html"/>
</html>