<!--#macro-->
<#import '../global/global.html' as global/>
<#macro sideBar mapKey>
	<#if dataMap[mapKey]??>
		<#local data=dataMap[mapKey]/>
		<div class="mod_aside_hd">
			<h3 class="tit"><a href="${data.path!'#'}">${data.channelName!''}</a></h3>
			<a class="more" href="${data.path!'#'}">更多</a>
		</div>
		<div class="mod_aside_bd">
			<#if data.imgContentList??>	
				<#local item=data.imgContentList[0]/>				
				<div class="pt03">
					<a class="pic" href="${item.path}"><img width="100" height="80" alt="${item.title}" src="${item.imgPath}"></a>
					<h4 class="tit"><a href="${item.path}">${item.title}</a></h4>
					<p class="txt"><@global.showTitle title=item.detial titleNum=23 hasDot=true/></p>
				</div>
			</#if>
			<#if data.contentList??>
				<@global.showList ulClass='list01_lico' liClass='' data=data.contentList;path,imgPath,title,detial>
		            <a href="${path}" target="_blank">${title}</a>
		        </@global.showList>	
			</#if>
		</div>
	</#if>
</#macro>
<#macro sideBar2 mapKey>
	<#if dataMap[mapKey]??>
		<#local data=dataMap[mapKey]/>
		<div class="mod_aside_hd">
			<h3 class="tit"><a href="${data.path!'#'}">${data.channelName!''}</a></h3>
			<a class="more" href="${data.path!'#'}">更多</a>
		</div>
		 <div class="mod_aside_bd">
		 	<#if data.contentList??>
		 		<ul class="list01_lico no-bg">
			 	<#list data.contentList as item>
			 		<li><a href="${item.path!'#'}">${item.title!''}</a></li>
			 	</#list>
			 	</ul>
		 	</#if>
        </div>
	</#if>
</#macro>
<#macro macro1 mapKey>
	<div class="hd">
        <h3 class="tit">${(dataMap[mapKey].channelName)!''}</h3>
        <a href="${(dataMap[mapKey].path)!'#'}" class="more">&gt;&gt;更多</a>
    </div>
    <div class="bd">
    	<#if (dataMap[mapKey].contentList)??>
    		<@global.showList3 ulClass='list03 clearfix' liClass='' data=dataMap[mapKey].contentList;item>
    			<span class="txt">
    				<a href="${item.path!'#'}">${item.title!''}</a>
    			</span>
    			<span class="date">${item.time!''}</span>
    		</@global.showList3>
    	</#if>
    </div>
</#macro>
<#macro macro2 mapKey>
	<#if dataMap[mapKey]??>
		<#local data=dataMap[mapKey]/>
		<#if data.contentList??>
			<#if data.contentList[0]??>
				<h2><a href="${data.contentList[0].path!'#'}">${data.contentList[0].title!''}</a></h2>
                <p class="details"><@global.showTitle title=data.contentList[0].detial!'' titleNum=92 hasDot=true/>
                <a href="${data.contentList[0].path!'#'}" class="more">[详细]</a></p>
			</#if>
			<#if data.contentList[1]??>
				<#list 1..data.contentList?size-1 as i>
					<a href="${(data.contentList[i].path)!'#'}">${(data.contentList[i].title)!''}</a>
				</#list>
			</#if>
		</#if>
	</#if>
</#macro>
<!--#macro-->
<#--页面开始-->
<#include "../tempInclude/index_header.html"/>
<body>
<div class="wrap_body">
<!--#include virtual="${headUrl}"-->
<!--#include virtual="${navUrl}"-->
<div class="section hos_news_neiye">
    <div class="w720">
        <div class="mod_hd ui_hd_01">
            <h3><span class="ui_tit">医院介绍</span></h3>
            <#--<span class="more"><a href="#">&gt;&gt;更多</a></span>-->
        </div>
        <div class="mod_bd clearfix">
            <div class="wrap_focus wrap_focus_hosNews">
                <div class="focus" id="index_Focus" style="visibility:hidden">
                    <div class="loading"><span>载入中,请稍候...</span></div>
                        <!--#--><!--#1--><#--换灯片-->
		            	<@global.PowerPoint mapKey='1' ulClass='pic' liClass='';title,path,imgPath>
		                    <a href="${path}"><img src="${imgPath}" width="260" height="270" alt="${title}"/>
		                    </a>
		                </@global.PowerPoint><!--#--> 
                </div>
            </div>
            <div class="hos_news">
            	<#--湛江市第一中医医院-->
            	<!--#--><!--#2--><@macro2 mapKey='2'/><!--#-->
           </div> 
        </div>
    </div>
    <div class="sidebar">
    	<!--#--><!--#3--><#--就医指南-->
        <div class="aside guide_line">
        	<#if dataMap["3"]??>
	            <div class="guide_line_hd">${dataMap["3"].channelName!''}</div>
	            <ul class="guide_line_bd">
	            <#list 0..(dataMap["3"]?size-1) as i>
	            	<#if dataMap["3"]["${i+1}"]??>
	                	<li><b class="ico ico0${i+1}"></b><a href="${dataMap["3"]["${i+1}"].path!'#'}">${dataMap["3"]["${i+1}"].channelName!''}</a></li>
	            	</#if>
                </#list>
	            </ul>
	       </#if>
        </div><!--#-->
        <!--#--><!--#4--><#--医院概况-->
        <div class="hos_intro">
        	<#if dataMap["4"]??>
	            <div class="hd">${dataMap["4"].channelName!''}</div>
	            <div class="bd">
	            	<@global.showTitle title=(dataMap["4"].contentList[0].detial)!'' titleNum=90 hasDot=true></@global.showTitle>
	            	<a href="${dataMap["4"].path!'#'}" class="more">[详细]</a>
	            </div>
            </#if>
        </div><!--#-->
    </div>
</div>
<div class="section zixun-main-con">
    <div class="w720">
        <div class="wrap-box">
        <div class="mod-list-box">
        	<#--护理资讯-->
            <!--#--><!--#5--><@macro1 mapKey='5'/><!--#-->
        </div>
        <div class="mod-list-box">
        	<#--科室资讯-->
            <!--#--><!--#6--><@macro1 mapKey='6'/><!--#-->
        </div>
        <div class="mod-list-box">
        	<#--名医资讯-->
            <!--#--><!--#8--><@macro1 mapKey='8'/><!--#-->
        </div>
        <div class="mod-list-box">
        	<#-- 保健资讯-->
            <!--#--><!--#9--><@macro1 mapKey='9'/><!--#-->
        </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="aside">
        	<#--医院公益-->
        	<!--#--><!--#7--><@sideBar mapKey="7"/><!--#-->
        </div>
        <div class="gutter10"></div>
        <div class="aside">
            <#--人才招聘-->
            <!--#--><!--#10--><@sideBar2 mapKey="10"/><!--#-->
        </div>
    </div>
</div>
<!--友情链接-->
<#include "../tempInclude/friend_link.html"/>
<!--#include virtual="${footUrl}"-->
</div>
<script src="${resScript}/base.js"></script>
<script type="text/javascript" src="${resScript}/myfocus-1.2.4.full.js"></script>
<script type="text/javascript" src="${resScript}/mF_tb.js"></script>
<script>
myFocus.set({path:0,id:'index_Focus',pattern:'mF_tb',time:3,trigger:'mouseover',width:260,height:270,txtHeight:30,duration:350,direction:'left',easing:'easeOut',wrap:false});//宽度为图片容器实际宽度,主程序注释了自动添加皮肤，脚本。20110711
</script>
</body>
</html>