<#include "../includes/header.html"/>
<script>
	function listCssFunction(path,data){
		var html="<ul class='list01_aico'>";
		for(var i=0;i<data.data.length;i++){
			html+="<li><div class='txt'>";
			html+="		<a href='"+path+"/"+data.data[i].id+".shtml' target='_blank'>"+data.data[i].title+"</a>";
			html+="		</div>";
			html+="		<span class='date'>["+data.data[i].createTime.substring(0,10)+"]</span>";
			html+="</li>";
		}
		html+="</ul>";
		return html+data.page;
	}
</script>
<div class="index_banner_grid sub_banner_grid">
	<div class="index_banner" id="bannerbox">
		<div tag="1" class="index_banner_item">
			<div class="index_banner_itempic" style="background:url(${resImg}/design/comp/v2/full/banner_1.jpg) center 0px no-repeat;">
				<a href="#">
					<div class="index_banner_itempic_in"></div>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="gutter"></div>
<#--顶部第一栏begin-->
<div class="section">
<div class="main_con sub_news_list clearfix">
	   <div class="mod_main_hd">
		    <div class="location">
			     <span id="pathUrl">
                     <script type="text/javascript">
                         getPageLevelHtml('pathUrl','${pathUrl}','/',true);
                     </script>
                 </span>
                 /<span class="cur">列表</span>
		    </div>
	    </div>
        <input type="hidden" id="tableUrl" value="${tableUrl}"/>
	    <div class="mod_main_bd" id="table">
        <script type="text/javascript">
        	getTableHtml('table','${tableUrl}');
        </script>  
		</div>
	</div>
    <div class="sidebar">
        <!--侧边 -->
        <div class="aside comfile">
			<#include "../includes/side_1.html"/>
		</div>
    </div>
</div>
<div class="wrap_footer">
	<!--#include virtual="${footUrl}"-->
</div>
</body>
</html>