<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=9"/>
		<title>${title!''}</title>
		<meta name="Keywords" content="${keywords!''}" /> 
		<meta name="Description" content="${description!''}" />
		<link rel="stylesheet" href="${resStyle}/webbuild/xqyy/base.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="${resStyle}/webbuild/xqyy/index.css" type="text/css" media="screen" />
		<link rel="shortcut icon" type="image/x-icon"  href="http://www.xxx.com/favicon.ico"/>
        <script src="${resScriptPubl}/jquery-1.4.2.min.js" type="text/javascript"></script>
        <script src="${resScriptPubl}/jquery.carouFredSel-6.1.0-packed.js" type="text/javascript"></script> 
    </head>
    <body>
