<!doctype html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>佛山市南海区第六人民医院(黄岐医院)</title>
        <meta name="Keywords" content="佛山市南海区第六人民医院(黄岐医院)" />
        <meta name="Description" content="佛山市南海区第六人民医院(黄岐医院)" />
        <link rel="stylesheet" href="css/index.css" type="text/css" media="screen"/>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    </head>
    <body>
        <div id="topbar">
            <div class="link">
                <a class="t" href="index.jsp">&gt;&gt; 值得信赖的专家团队 关爱您的一生健康</a>
                <a href="home.jsp">FLASH首页</a> -
                <a href="index.jsp">设为首页</a>-
                <a href="http://www.hqyy.com.cn/index.jsp">简体中文</a>-
                <a href="http://en.hqyy.com.cn/index.jsp">ENGLISH</a>
            </div>
        </div>
        <div id="ad20120427" class="section">
            <img src="images/ad20120427.jpg" / width="960" height="300">
        </div>
        <div id="header">
            <h1>
                <a href="index.jsp">
                    <img alt="佛山市南海区第六人民医院(黄岐医院)" src="images/photo/logo.png" width="456" height="74" />
                    <br />
                    佛山市南海区第六人民医院(黄岐医院)
                </a>
            </h1>
            <!--<div class="searchbar">
                <form id="f_search" action="seachArticleInfo.jsp" method="get">
                    <div class="txt_bd">
                        <input type="text" id="artTitle" onClick="if(this.value=='请输入关键词')this.value=''" onblur="if(this.value.length == 0)this.value='请输入关键词'" name="artTitle" value="请输入关键词" />
                        <span class="tel"><img src="images/tel.png" /></span>
                    </div>
                    <input type="submit" onclick="this.value=''" class="btn" value="搜索资讯"
                    />
                </form>
                <a class="wrap_guahao" href="http://www.915800.com/Category.aspx?_hosid=202&menuid=1&pid=&aid=&pno=">预约挂号
                    <img style="display: block;" class="guahao_ico" src="images/spirit_holder.gif" width="97" height="81" />
                    <a class="linkBtn" href="http://hqyy.com.cn/tel_guahao.jsp">电话预约</a>
                </a>
            </div>
        --></div>
        <div id="nav">
            <div class="bd">
                <ul class="main_nav">
                    <li class="first">
                        <a class="on" href="index.jsp">首页</a>
                    </li>
                    <li>
                        <a href="hosp.jsp">医院概况</a>
                    </li>
                    <li>
                        <a href="treatment.jsp">就医指南</a>
                    </li>
                    <li id="tszk_tit">
                        <a href="women.jsp">特色专科</a>
                        <div class="tszk_subnav" style="display:none ;">
                            <div class="tszk_subnav_bd">
                                <ul class="item item_fck">
                                    <li class="tit">
                                        <h3><a href="women.jsp">妇产科</a></h3>
                                    </li>
                                    <li>
                                        <a href="women_info.jsp?menuId=11182&menuParentId=11181">产科简介</a>
                                    </li>
                                    <li>
                                        <a href="women_info.jsp?menuId=11183&menuParentId=11181">产前区</a>
                                    </li>
                                    <li>
                                        <a href="women_info.jsp?menuId=11184&menuParentId=11181">产房</a>
                                    </li>
                                    <li>
                                        <a href="women_info.jsp?menuId=11185&menuParentId=11181">产科住院部</a>
                                    </li>
                                    <li>
                                        <a href="women_info.jsp?menuId=11186&menuParentId=11181">妇科简介</a>
                                    </li>
                                    <li>
                                        <a href="women_info.jsp?menuId=11187&menuParentId=11181">妇科住院部</a>
                                    </li>
                                    <li>
                                        <a href="women_info.jsp?menuId=11188&menuParentId=11181">学术及科研</a>
                                    </li>
                                    <li>
                                        <a href="women_info.jsp?menuId=11189&menuParentId=11181">科室荣誉</a>
                                    </li>
                                    <li>
                                        <a href="women_info.jsp?menuId=11190&menuParentId=11181">医疗团队</a>
                                    </li>
                                    <li>
                                        <a href="women_info.jsp?menuId=11191&menuParentId=11181">产科门诊</a>
                                    </li>
                                    <li>
                                        <a href="women_info.jsp?menuId=11192&menuParentId=11181">妇科门诊</a>
                                    </li>
                                </ul>
                                <ul class="item">
                                    <li class="tit">
                                        <h3>
                                            <a href="children.jsp">
                                                儿科
                                            </a>
                                        </h3>
                                    </li>
                                    <li>
                                        <a href="children_info.jsp?menuId=11194&menuParentId=11193">
                                            儿科简介
                                        </a>
                                    </li>
                                    <li>
                                        <a href="children_info.jsp?menuId=11195&menuParentId=11193">
                                            儿科门诊、急诊
                                        </a>
                                    </li>
                                    <li>
                                        <a href="children_info.jsp?menuId=11196&menuParentId=11193">
                                            儿科住院部
                                        </a>
                                    </li>
                                    <li>
                                        <a href="children_info.jsp?menuId=11197&menuParentId=11193">
                                            新生儿重症监护中心
                                        </a>
                                    </li>
                                    <li>
                                        <a href="children_info.jsp?menuId=11198&menuParentId=11193">
                                            医疗团队
                                        </a>
                                    </li>
                                </ul>
                                <ul class="item">
                                    <li class="tit">
                                        <h3>
                                            <a href="bone.jsp">
                                                骨科
                                            </a>
                                        </h3>
                                    </li>
                                    <li>
                                        <a href="bone_info.jsp?menuId=11200&menuParentId=11199">
                                            骨科手外科简介
                                        </a>
                                    </li>
                                    <li>
                                        <a href="bone_info.jsp?menuId=11201&menuParentId=11199">
                                            骨科手外科门诊
                                        </a>
                                    </li>
                                    <li>
                                        <a href="bone_info.jsp?menuId=11202&menuParentId=11199">
                                            骨科手外科住院部
                                        </a>
                                    </li>
                                    <li>
                                        <a href="bone_info.jsp?menuId=11203&menuParentId=11199">
                                            骨科主要设备设施
                                        </a>
                                    </li>
                                    <li>
                                        <a href="bone_info.jsp?menuId=11204&menuParentId=11199">
                                            医疗团队
                                        </a>
                                    </li>
                                </ul>
                                <ul class="item last_item">
                                    <li class="tit">
                                        <h3>
                                            <a href="zhmedical.jsp">
                                                中医康复科
                                            </a>
                                        </h3>
                                    </li>
                                    <li>
                                        <a href="zhmedical_info.jsp?menuId=11206&menuParentId=11205">
                                            中医康复科简介
                                        </a>
                                    </li>
                                    <li>
                                        <a href="zhmedical_info.jsp?menuId=11207&menuParentId=11205">
                                            中医康复门诊
                                        </a>
                                    </li>
                                    <li>
                                        <a href="zhmedical_info.jsp?menuId=11208&menuParentId=11205">
                                            中医康复住院部
                                        </a>
                                    </li>
                                    <li>
                                        <a href="zhmedical_info.jsp?menuId=11209&menuParentId=11205">
                                            设备及治疗
                                        </a>
                                    </li>
                                    <li>
                                        <a href="zhmedical_info.jsp?menuId=11210&menuParentId=11205">
                                            护理团队
                                        </a>
                                    </li>
                                    <li>
                                        <a href="zhmedical_info.jsp?menuId=11211&menuParentId=11205">
                                            医疗团队
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="departments.jsp">
                            科室介绍
                        </a>
                    </li>
                    <li>
                        <a href="device.jsp">
                            医技设备
                        </a>
                    </li>
                    <li>
                        <a href="article.jsp">
                            医院资讯
                        </a>
                    </li>
                    <li>
                        <a href="sanitation.jsp">
                            预防保健
                        </a>
                    </li>
                    <li>
                        <a href="health.jsp">
                            社区卫生
                        </a>
                    </li>
                    <li>
                        <a href="culture.jsp">
                            医院文化
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        
        
        <div class="crumbs">
            <b>
                位置：
            </b>
            <a href="index.jsp">
                医院首页
            </a>
            <span class="crb-l">
            </span>
            <span class="crb-r">
            </span>
        </div>
        <div id="banner" style="visibility:hidden;">
            <a href="">
                <img src="images/photo/03_01fck_banner.jpg" width="960" height="210" />
            </a>
            <a href="">
                <img src="images/photo/03_02erke_banner.jpg" width="960" height="210"/>
            </a>
            <a href="">
                <img src="images/photo/03_03guke_banner_s1.jpg" width="960" height="210"/>
            </a>
            <a href="">
                <img src="images/photo/03_04zykfk_banner_s1.jpg" width="960" height="210"/>
            </a>
        </div>
        <div class="section news">
            <div class="hd">
                <h2 class="tit">
                    医院资讯
                </h2>
                <span class="more">
                    <a href="article.jsp?menuId=46&menuParentId=7">医院快讯</a>|
                    <a href="article.jsp?menuId=47&menuParentId=7">
                        院务讯息
                    </a>
                    |
                    <a href="article.jsp?menuId=53&menuParentId=7">
                        健康宣教
                    </a>
                    |
                    <a href="article.jsp?menuId=50&menuParentId=7">
                        医保政策
                    </a>
                </span>
            </div>
            <div class="bd clearfix">
                <div class="colmain fr">
                    <div class="box_450 fl">
                        <div class="mod pdH10">
                            <div class="mod_hd">
                                <h2 class="tit">
                                    <a href="articleInfo.jsp?menuId=11238&articleId=26839">
                                        我院4名护士荣获南海区“优质护...
                                    </a>
                                </h2>
                                <span class="mod_tit">
                                    <a href="article.jsp?menuId=46&menuParentId=7">
                                        新闻头条
                                    </a>
                                </span>
                                <span class="mod_more">
                                    <a href="articleInfo.jsp?menuId=11238&articleId=26839">
                                        详细 &gt;
                                    </a>
                                </span>
                            </div>
                            <ul class="pt03">
                                <li>
                                    <a class="pic" href="articleInfo.jsp?menuId=11238&articleId=26838">
                                        <img width="90" height="60" src="http://picture.elian.cc/ftpfile//hosp/3/20130514/213523_s4vn2n.JPEG"
                                        alt="找不到图片" />
                                    </a>
                                    <h4 class="titL" style="font-family: 宋体;">
                                        <a href="articleInfo.jsp?menuId=11238&articleId=26838">
                                            医院举行“5.12国际护士节”庆祝晚会
                                        </a>
                                    </h4>
                                    <p class="txt">
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;5月13日晚，黄岐医院多功能会议室张灯结彩，乐声四起...
                                    </p>
                                </li>
                                <li>
                                    <a class="pic" href="articleInfo.jsp?menuId=11238&articleId=26830">
                                        <img width="90" height="60" src="http://picture.elian.cc/ftpfile//hosp/3/20130427/112103_796y64.JPEG"
                                        alt="找不到图片" />
                                    </a>
                                    <h4 class="titL" style="font-family: 宋体;">
                                        <a href="articleInfo.jsp?menuId=11238&articleId=26830">
                                            充分发扬职工民主，共商医院发展大计！
                                        </a>
                                    </h4>
                                    <p class="txt">
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;医院每年的重大改革、发展规划、经济管理...
                                    </p>
                                </li>
                                <li>
                                    <a class="pic" href="articleInfo.jsp?menuId=11238&articleId=26827">
                                        <img width="90" height="60" src="http://picture.elian.cc/ftpfile//hosp/3/20130503/103818_5ko3bk.JPEG"
                                        alt="找不到图片" />
                                    </a>
                                    <h4 class="titL" style="font-family: 宋体;">
                                        <a href="articleInfo.jsp?menuId=11238&articleId=26827">
                                            我院召开安全生产工作会议
                                        </a>
                                    </h4>
                                    <p class="txt">
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;4月10号下午，我院安全生产工作会议在201会议室召...
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box_240 fl">
                        <div class="mod">
                            <div class="slider_bd ">
                                <div id="slider_con" class="slider_con ">
                                    <ul>
                                        <li>
                                            <a href="articleInfo.jsp?menuId=11257&articleId=26806">
                                                <img width="90" height="60" src="http://picture.elian.cc/ftpfile//hosp/3/20130412/160431_kscj4m.JPEG"
                                                alt="" />
                                                <span class="tit">
                                                    大年初一，院..
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="articleInfo.jsp?menuId=11257&articleId=26805">
                                                <img width="90" height="60" src="http://picture.elian.cc/ftpfile//hosp/3/20130221/090224_vx717y.JPEG"
                                                alt="" />
                                                <span class="tit">
                                                    春节前夕各科..
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slider" id="idSlider">
                                    <div class="bar" id="idBar">
                                    </div>
                                </div>
                            </div>
                            <ul class="list01_ulnum">
                                <li>
                                    <a href="articleInfo.jsp?menuId=11239&articleId=26853">
                                        大沥敬老院院长招聘启事
                                    </a>
                                </li>
                                <li>
                                    <a href="articleInfo.jsp?menuId=11239&articleId=26850">
                                        南海区第六人民医院专场招聘（第..
                                    </a>
                                </li>
                                <li>
                                    <a href="articleInfo.jsp?menuId=11257&articleId=26845">
                                        庆祝“5.12国际护士节”文艺..
                                    </a>
                                </li>
                                <li>
                                    <a href="articleInfo.jsp?menuId=11239&articleId=26828">
                                        南海区第六人民医院非在职人才招..
                                    </a>
                                </li>
                                <li>
                                    <a href="articleInfo.jsp?menuId=11239&articleId=26826">
                                        2013年度黄岐社区卫生服务中..
                                    </a>
                                </li>
                                <li class="li_more">
                                    <a href="javascript:void(0)">
                                        更多&gt;&gt;
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="colside fl">
                    <div class="box_240">
                        <div class="mod focus">
                            <a href="hosp.jsp?menuId=11&menuParentId=2">
                                <img src="images/photo/focus-new.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav_sub">
            <div class="nav_sub_m">
                <img src="images/photo/nav_sub_m.jpg" border="0" align="" usemap="#Map"
                />
                <map name="Map">
                    <area alt="妇产科" shape="rect" coords="147,14,269,144" href="women.jsp">
                    <area alt="儿科" shape="rect" coords="287,13,408,144" href="children.jsp">
                    <area alt="骨科，手外科" shape="rect" coords="425,16,546,146" href="bone.jsp">
                    <area alt="中医康复科" shape="rect" coords="564,15,685,146" href="zhmedical.jsp">
                </map>
            </div>
            <div class="nav_sub_s">
                <ul class="list">
                    <li>
                        <a href="departments.jsp?menuId=11213&menuParentId=11212">
                            妇产科
                        </a>
                    </li>
                    <li>
                        <a href="departments.jsp?menuId=11214&menuParentId=11212">
                            儿科、NICU
                        </a>
                    </li>
                    <li>
                        <a href="departments.jsp?menuId=11215&menuParentId=11212">
                            骨科、手外科
                        </a>
                    </li>
                    <li>
                        <a href="departments.jsp?menuId=11216&menuParentId=11212">
                            中医康复科
                        </a>
                    </li>
                    <li>
                        <a href="departments.jsp?menuId=11217&menuParentId=11212">
                            外科
                        </a>
                    </li>
                    <li>
                        <a href="departments.jsp?menuId=11218&menuParentId=11212">
                            内一科
                        </a>
                    </li>
                    <li>
                        <a href="departments.jsp?menuId=11219&menuParentId=11212">
                            内二科
                        </a>
                    </li>
                    <li>
                        <a href="departments.jsp?menuId=11220&menuParentId=11212">
                            急诊科
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section guideline">
            <div class="hd">
                <h2 class="tit">
                    就医指南
                </h2>
                <span class="more">
                    <a href="treatment.jsp?menuId=11155&menuParentId=11154">
                        建卡导诊
                    </a>
                    <a href="treatment.jsp?menuId=11156&menuParentId=11154">
                        急诊就诊
                    </a>
                    <a href="treatment.jsp?menuId=11175&menuParentId=11154">
                        专科及专家门诊时间
                    </a>
                    <a href="treatment.jsp?menuId=11176&menuParentId=11154">
                        入院流程图
                    </a>
                    <a href="treatment.jsp?menuId=11177&menuParentId=11154">
                        出院流程图
                    </a>
                </span>
            </div>
            <div class="bd clearfix">
                <div class="colmain fr">
                    <div class="box_450 fl">
                        <div class="mod pdH10">
                            <div class="mod_hd">
                                <h2 class="tit">
                                    <a href="departments.jsp?menuId=181&menuParentId=5">
                                        特色专科及技术
                                    </a>
                                </h2>
                                <span class="mod_more">
                                    <a href="departments.jsp?menuId=181&menuParentId=5">
                                        更多 &gt;
                                    </a>
                                </span>
                            </div>
                            <ul class="pt03">
                                <li>
                                    1、腹腔镜微创手术技术治疗妇科宫外孕、子宫肌瘤、卵巢良性肿瘤、子宫切除等；
                                    <br/>
                                    2、宫腔镜技术检查、治疗异常子宫出血、子宫内占位病变、环定位及取出等；
                                    <br/>
                                    3、阴道镜检查用于宫颈、阴道等早期癌变或癌前病变的活检及辅助诊断；
                                    <br/>
                                    4、LEEP刀用于治疗宫颈癌前病变及宫颈良性病变等；
                                    <br/>
                                    5、超导可视无痛人流。
                                    <br>
                                    6、新生儿窒息复苏；
                                    <br/>
                                    7、肺表面活性物质替代疗法
                                    <br/>
                                    8、新生儿外周动静同步换血
                                    <br/>
                                    9、断肢（断指）再植、显微修复治疗肢体离断；
                                    <br/>
                                    10、腰椎间盘突出症及腰椎管狭窄症综合及手术治疗；
                                    <br/>
                                    11、人工股骨头置换、人工全髋关节置换治疗髋关节骨折、股骨头坏死等；
                                    <br/>
                                    12、各种皮瓣与皮肌瓣和骨肌瓣移植、末节断指再植、多指离断再植、外伤性手指缺失急诊再造等手术。
                                    <br/>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box_240 fl">
                        <div class="pt01">
                            <a class="pic">
                                <img src="images/map.png" width="220" height="180" />
                            </a>
                            <b>
                                医院地址：佛山市南海区黄岐黄海路58号
                            </b>
                            <b>
                                医院总机：0757-85930991号
                            </b>
                            <b>
                                医院急救：0757-85932991
                            </b>
                        </div>
                    </div>
                </div>
                <div class="colside fl">
                    <div class="box_240">
                        <div class="mod gl-flow">
                            <div class="pt03">
                                <a class="pic" href="hosp.jsp?menuId=11&menuParentId=2">
                                    <img src="images/photo/gl-92x83..jpg" alt="" />
                                </a>
                                <h4 class="titL">
                                    <a href="hosp.jsp?menuId=11&menuParentId=2">
                                        黄岐医院简介
                                    </a>
                                </h4>
                                <p class="txt">
                                    佛山市南海区第六人民医院医院是政府主办非盈利性的公立医院......
                                </p>
                            </div>
                            <ul class="list01_lico">
                                <li>
                                    <a href="treatment.jsp?menuId=11155&menuParentId=11154">
                                        <b>
                                            建卡导诊
                                        </b>
                                        了解建卡导诊
                                    </a>
                                </li>
                                <li>
                                    <a href="treatment.jsp?menuId=11156&menuParentId=11154">
                                        <b>
                                            急诊就诊
                                        </b>
                                        了解急诊就诊
                                    </a>
                                </li>
                                <li>
                                    <a href="treatment.jsp?menuId=11175&menuParentId=11154">
                                        <b>
                                            专科及专家门诊
                                        </b>
                                        了解专科及专家门诊
                                    </a>
                                </li>
                                <li>
                                    <a href="treatment.jsp?menuId=11176&menuParentId=11154">
                                        <b>
                                            入院流程图
                                        </b>
                                        了解入院流程图
                                    </a>
                                </li>
                                <li>
                                    <a href="treatment.jsp?menuId=11177&menuParentId=11154">
                                        <b>
                                            出院流程图
                                        </b>
                                        了解出院流程图
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--doctor picshow-->
        <div class="section doctor-show">
            <div class="picShow-con" id="ISL_Cont_1">
                <div class="mod">
                    <!--fix for ul-->
                    <ul class="list_pt02" id="List1_1">
                        <li>
                            <a class="pic" href="treatment.jsp?menuId=11168&menuParentId=11154">
                                <img src="http://picture.elian.cc/ftpfile/1345071388890.jpg" width="80"
                                height="120" alt="无图片" />
                            </a>
                            <span class="txt">
                                <a href="treatment.jsp?menuId=11168&menuParentId=11154" class="name">
                                    赵正云
                                </a>
                                <b>
                                    妇科主任，妇产科副主任医师，兼职副教授
                                </b>
                                <br />
                            </span>
                        </li>
                        <li>
                            <a class="pic" href="treatment.jsp?menuId=11170&menuParentId=11154">
                                <img src="http://picture.elian.cc/ftpfile/1345089681578.jpg" width="80"
                                height="120" alt="无图片" />
                            </a>
                            <span class="txt">
                                <a href="treatment.jsp?menuId=11170&menuParentId=11154" class="name">
                                    冯经旺
                                </a>
                                <b>
                                    骨科主任、骨科主任医师，兼职教授
                                </b>
                                <br />
                            </span>
                        </li>
                        <li>
                            <a class="pic" href="treatment.jsp?menuId=11171&menuParentId=11154">
                                <img src="http://picture.elian.cc/ftpfile/1345238229453.jpg" width="80"
                                height="120" alt="无图片" />
                            </a>
                            <span class="txt">
                                <a href="treatment.jsp?menuId=11171&menuParentId=11154" class="name">
                                    沈景辉
                                </a>
                                <b>
                                    中医康复科主任，中医骨科副主任医师，兼职副教授
                                </b>
                                <br />
                            </span>
                        </li>
                        <li>
                            <a class="pic" href="treatment.jsp?menuId=11171&menuParentId=11154">
                                <img src="http://picture.elian.cc/ftpfile/1345238306906.jpg" width="80"
                                height="120" alt="无图片" />
                            </a>
                            <span class="txt">
                                <a href="treatment.jsp?menuId=11171&menuParentId=11154" class="name">
                                    唐瑶安
                                </a>
                                <b>
                                    康复门诊主任，主治医师，兼职讲师
                                </b>
                                <br />
                            </span>
                        </li>
                        <li>
                            <a class="pic" href="treatment.jsp?menuId=11170&menuParentId=11154">
                                <img src="http://picture.elian.cc/ftpfile/1345089916515.jpg" width="80"
                                height="120" alt="无图片" />
                            </a>
                            <span class="txt">
                                <a href="treatment.jsp?menuId=11170&menuParentId=11154" class="name">
                                    叶 忠
                                </a>
                                <b>
                                    骨科副主任，中医骨科副主任医师，兼职副教授
                                </b>
                                <br />
                            </span>
                        </li>
                        <li>
                            <a class="pic" href="treatment.jsp?menuId=11168&menuParentId=11154">
                                <img src="http://picture.elian.cc/ftpfile/1345071493031.jpg" width="80"
                                height="120" alt="无图片" />
                            </a>
                            <span class="txt">
                                <a href="treatment.jsp?menuId=11168&menuParentId=11154" class="name">
                                    梁 进
                                </a>
                                <b>
                                    妇科副主任，妇产科副主任医师，兼职副教授
                                </b>
                                <br />
                            </span>
                        </li>
                        <li>
                            <a class="pic" href="treatment.jsp?menuId=11168&menuParentId=11154">
                                <img src="http://picture.elian.cc/ftpfile/1345071590906.jpg" width="80"
                                height="120" alt="无图片" />
                            </a>
                            <span class="txt">
                                <a href="treatment.jsp?menuId=11168&menuParentId=11154" class="name">
                                    李小玲
                                </a>
                                <b>
                                    妇产科副主任医师，兼职副教授
                                </b>
                                <br />
                            </span>
                        </li>
                        <li>
                            <a class="pic" href="treatment.jsp?menuId=11169&menuParentId=11154">
                                <img src="http://picture.elian.cc/ftpfile/1345088253781.jpg" width="80"
                                height="120" alt="无图片" />
                            </a>
                            <span class="txt">
                                <a href="treatment.jsp?menuId=11169&menuParentId=11154" class="name">
                                    梁 英
                                </a>
                                <b>
                                    儿科副主任医师，兼职副教授
                                </b>
                                <br />
                            </span>
                        </li>
                    </ul>
                    <ul class="list_pt02" id="List2_1">
                    </ul>
                </div>
            </div>
            <!--<a onMouseUp="ISL_StopUp_1()" class="showBtn l-btn" onMouseDown="ISL_GoUp_1()"
            onMouseOut="ISL_StopUp_1()" target="_self">
            </a>
            <a onMouseUp="ISL_StopDown_1()" class="showBtn r-btn" onMouseDown="ISL_GoDown_1()"
            onMouseOut="ISL_StopDown_1()" target="_self">
            </a>
        --></div>
        <div class="friend_link">
            <div class="bd">
                <h3>
                    友情链接
                </h3>
                <a href="http://www.fswsj.gov.cn/">
                    佛山卫生局
                </a>
                　|　
                <a href="http://www.fscdc.gov.cn/">
                    佛山市疾病预防控制中心
                </a>
                　|　
                <a href="http://www.nanhai.gov.cn">
                    南海区人民政府
                </a>
                　|　
                <a href="http://www.nhhn.gd.cn">
                    南海区卫生局
                </a>
                　|　
                <a href="http://www.nhwsjd.gov.cn">
                    南海区卫生监督所
                </a>
                　|　
                <a href="http://www.nanhaicdc.com/">
                    南海区疾病预防控制中心
                </a>
                　|　
                <a href="http://www.e5413.com/">
                    广东省人民医院
                </a>
            </div>
        </div>
        <div class="ui_bottom_line960_2">
        </div>
        <div id="footer">
            <div class="address">
                <b>
                    地址：佛山市南海区黄岐黄海路58号
                </b>
                <b>
                    医院总机：0757-85930991
                </b>
                <b>
                    急救：0757-85932991
                </b>
            </div>
            <div class="link">
                <a href="hosp.jsp?menuId=11&menuParentId=2">
                    关于我们
                </a>
                |
                <a href="job.jsp">
                    人才招聘
                </a>
                |
                <a href="guestbook.jsp">
                    留言板
                </a>
                |
                <a href="http://www.915800.com">
                    预约挂号
                </a>
                |
                <a href="map.jsp">
                    站点地图
                </a>
                |
                <a href="policy.jsp">
                    免责条款
                </a>
                |
                <a href="">
                    友情链接
                </a>
                |
                <a href="contactus.jsp">
                    联系我们
                </a>
                |
                <a target="_bank" href="http://www.gdwst.gov.cn/wzgl/20121700052.html">
                    粤卫网审（2012）38号
                </a>
            </div>
            <div class="copyright">
                ©2010-2012
                <b>
                    佛山市南海区第六人民医院(黄岐医院) All rights reserved　粤ICP备12021512号-1
                </b>
                技术支持：
                <a target="_blank" href="http://www.elian.cc">
                    医联网
                </a>
                　
                <a href="#top">
                    返回顶部
                </a>
            </div>
        </div>
        <script src="script/jquery-1.4.2.min.js">
        </script>
        <script src="script/jquery.KinSlideshow-1.1.js" type="text/javascript">
        </script>
        <script type="text/javascript">
            $(window).load(function() {
                setTimeout(function() {
                    $('#ad20120427').slideUp(800)
                },
                5000)
            });

            $(function() {
                $("#banner").KinSlideshow({
                    isHasTitleBar: false,
                    isHasTitleFont: false,
                    intervalTime: 6,
                    moveSpeedTime: 1000,
                    btn: {
                        btn_bgColor: "#FFFFFF",
                        btn_bgHoverColor: "#FF356C",
                        btn_fontColor: "#000000",
                        btn_fontHoverColor: "#FFFFFF",
                        btn_borderColor: "#cccccc",
                        btn_borderHoverColor: "#dddddd",
                        btn_borderWidth: 1,
                        btn_bgAlpha: 0.85
                    }
                });
            })
        </script>
        <script>
            $(function() {
                $('#tszk_tit').hover(function() {
                    $('.tszk_subnav').show()
                },
                function() {
                    $('.tszk_subnav').hide()
                })
            });
        </script>
        <script src="script/slider.js">
        </script>
        <script>
            var sld = new Slider("idSlider", "idBar", {
                MaxValue: $$("slider_con").scrollWidth - $$("slider_con").clientWidth,
                onMove: function() {
                    $$("slider_con").scrollLeft = this.GetValue();
                }
            });
            sld.SetPercent(.0);
            sld.Ease = true;
        </script>
        <script src="script/imgSlide.js">
        </script>
        <script>
            picrun_ini()
        </script>
        <!--<script src="script/go2top.js"></script>-->
        <SCRIPT src="script/ad_drift.js">
        </SCRIPT>
        <DIV id=ad_drift_01 style="Z-INDEX: 1001;width:400px;height:200px">
            <A href="#">
                <IMG src="images/fudong2012.jpg" border=0 width="400" height="200">
            </A>
        </DIV>
        <SCRIPT type=text/javascript>
            var ad1 = new AdMove("ad_drift_01", true);
            ad1.Run();
        </SCRIPT>
    </body>

</html>